<div

  [@fadeInOutSlideFromLeftWithDelay]
  class="hidden  w-1/4 bg-white/90 shadow-lg top-[26rem] right-0 mb-48 fixed p-4 rounded-l-2xl z-50"
>
  <div class="flex justify-start">
    <button (click)="showPopUp = false">
      <i class="fa-regular fa-circle-xmark text-black"></i>
    </button>
  </div>

  <div class="grid gap-5 text-center items-center">
    <p class="text-4xl text-violet-400">Want to Grow</p>

    <p class="text-5xl text-black">Let's Grow Together</p>

    <p class="text-black">
      To be a part of us contact us . We are open for your ideas
    </p>

    <button
      (click)="contact()"
      class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-lg"
    >
      Contact Us
    </button>
  </div>
</div>
