<header class="w-full bg-black">
  <nav
    class="w-full h-24 flex justify-between px-5 md:-px-5 container pt-8 mx-auto"
  >
    <a routerLink="" class="flex items-center gap-2">
      <div class="w-16 h-16 bg-gray-400 rounded-full overflow-hidden">
        <img
          class="h-full w-full overflow-hidden"
          [src]="'http://192.168.29.97:5296/assets/' + siteLogo"
          alt=""
        />
      </div>
      <h1 class="text-white font-bold text-3xl uppercase">{{ siteName }}</h1>
    </a>
    <div class="flex justify-center items-center relative">
      <div
        *ngIf="showUserDetails"
        (click)="showLogOut = !showLogOut"
        class="h-10 w-10 rounded-full overflow-hidden hover:border-2"
      >
        <img
          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg"
          alt=""
        />
      </div>
      <p *ngIf="showUserDetails" class="text-gray-300 ml-3">
        {{ userDetails?.email }}
      </p>

      <button
        *ngIf="!showUserDetails"
        class="text-gray-500 border-2 border-transparent hover:border-b-white p-3"
        (click)="login()"
      >
        Login
      </button>

      <div *ngIf="showLogOut" class="bg-white p-2 absolute mt-20 mr-14">
        <button (click)="logOut()">
          <span>LogOut</span>
        </button>
      </div>
    </div>
  </nav>
  <section
    class="bg-slate-300 w-full h-24 mt-8 flex justify-center items-center"
  >
    <div class="text-gray-500 text-xl text-center container mx-auto md:-px-5">
      <div class="flex justify-evenly items-center">
        <ng-container *ngFor="let cat of category; let i = index">
          <div *ngIf="i < 4" class="grid relative">
            <div class="flex items-center gap-1">
              <a
                (click)="reload()"
                routerLink="category/{{ cat.id }}"
                class="border-2 border-transparent hover:border-b-white"
                >{{ cat.categoryName }}
              </a>
              <button
                *ngIf="cat.subCategories.length != 0"
                (click)="showSubCategory(i)"
                class="p-1"
              >
                <i class="fa-solid fa-caret-down"></i>
              </button>
            </div>

            <div
              title="sub-category"
              *ngIf="i == index && showSubCat"
              class="absolute rounded w-40 p-3 bg-white shadow-lg grid mt-10 gap-2 text-left"
            >
              <ul>
                <li *ngFor="let sub of cat.subCategories; let j = index">
                  <a
                    [ngClass]="{ 'pointer-events-none': indexPosition == j }"
                    (click)="reload()"
                    [routerLink]="['/subcategory', sub.id]"
                    [queryParams]="{
                      subcategory: sub.subCategoryName
                    }"
                    class="border-2 border-transparent hover:border-b-gray-400"
                    >{{ sub.subCategoryName }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </ng-container>

        <div class="grid">
          <button
            (click)="moreCategory()"
            class="border-2 border-transparent hover:border-b-white"
          >
            More
          </button>

          <div
            *ngIf="showCategory"
            class="absolute rounded w-40 p-3 bg-white shadow-lg mt-10 text-left"
          >
            <ul>
              <li
                class="grid gap-2"
                *ngFor="let cat of category; let k = index"
              >
                <a
                  [ngClass]="{ 'pointer-events-none': indexPosition == k }"
                  routerLink="category/{{ cat.id }}"
                  class="border-2 border-transparent hover:border-b-gray-400"
                >
                  {{ cat.categoryName }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
