 <header class="w-full bg-black">

 <nav class=" w-full h-24 flex justify-between container pt-8 mx-auto ">
    <a href="index.html">
      <h1 class="text-white font-bold text-3xl uppercase">blog</h1>
    </a>
    <div>
      <a href=""><i class="fa-solid fa-house text-gray-500"></i></a>
      <a
        class="text-gray-500 border-2 border-transparent hover:border-b-white p-3"
        href=""
        >Login</a
      >
    </div>
  </nav>
  <section class="bg-slate-300 w-full h-24 mt-8">
    <div class="mt-8 text-gray-500 text-xl container mx-auto flex justify-between">
      <div class="flex justify-between gap-16">

      <a
        class=" border-2 border-transparent hover:border-b-white"
        href="blog_category.html"
        >Travel</a
      >
      <a
        class=" border-2 border-transparent hover:border-b-white"
        href="blog_category.html"
        >Buying Guides</a
      >
      <a
        class=" border-2 border-transparent hover:border-b-white"
        href="blog_category.html"
      >
        tech
      </a>
      <a
        class=" border-2 border-transparent hover:border-b-white"
        href="blog_category.html"
        >cars</a
      >
      <a
        class=" border-2 border-transparent hover:border-b-white"
        href="blog_category.html"
        >Gaming</a
      >
    </div>
    <div class="flex justify-between gap-12">


      <a class="ml-10"><i class="fa-brands fa-facebook hover:text-black"></i></a>
      <a class="ml-5"><i class="fa-brands fa-twitter hover:text-black"></i></a>
      <a class="ml-5"><i class="fa-brands fa-youtube hover:text-black"></i></a>

      <a class="ml-5">
        <i class="fa-solid fa-magnifying-glass hover:text-black"></i>
      </a>
    </div>

    </div>
  </section>
</header>

