<header class="w-full bg-black">
  <nav class="w-full h-24 flex justify-between container pt-8 mx-auto">
    <a href="index.html">
      <h1 class="text-white font-bold text-3xl uppercase">blog</h1>
    </a>
    <div>
      <a href=""><i class="fa-solid fa-house text-gray-500"></i></a>
      <a
        class="text-gray-500 border-2 border-transparent hover:border-b-white p-3"
        href=""
        >Login</a
      >
    </div>
  </nav>
  <section
    class="bg-slate-300 w-full h-24 mt-8 flex justify-center items-center"
  >
    <div class="text-gray-500 text-xl text-center container mx-auto \">
      <div class="flex justify-around">
        <a
          class="border-2 border-transparent hover:border-b-white"
          href="blog_category.html"
          >Travel</a
        >
        <a
          class="border-2 border-transparent hover:border-b-white"
          href="blog_category.html"
          >Buying Guides</a
        >
        <a
          class="border-2 border-transparent hover:border-b-white"
          href="blog_category.html"
        >
          Tech
        </a>
        <a
          class="border-2 border-transparent hover:border-b-white"
          href="blog_category.html"
          >Cars</a
        >
        <a
          class="border-2 border-transparent hover:border-b-white"
          href="blog_category.html"
          >Gaming</a
        >
        <a
          class="border-2 border-transparent hover:border-b-white"
          href="blog_category.html"
          >More</a
        >
      </div>
    </div>
  </section>
</header>
