<div
  *ngIf="showPopUp"
  [@slideInAndOutFromLeftWithDelay]
  class="md:w-1/4 w-96 md:h-96 bg-black/90 shadow-lg top-[15rem] left-0 mb-48 fixed p-4 md:rounded-r-2xl rounded-r-xl z-50"
>
  <div class="flex justify-end">
    <button (click)="showPopUp = false">
      <i class="fa-regular fa-circle-xmark text-white"></i>
    </button>
  </div>

  <div class="grid gap-5 md:text-center items-center">
    <p class="text-4xl text-violet-400">Want to Grow</p>

    <p class="text-5xl text-white">Let's Grow Together</p>

    <p class="text-white">
      To be a part of us contact us . We are open for your ideas
    </p>

    <button
      (click)="contact()"
      class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-lg"
    >
      Contact Us
    </button>
  </div>
</div>
