<section class="flex gap-3 mt-3">
  <div class="flex gap-3">
    <button
    (click)="deleteBlock()"
    class="p-2 bg-red-500 text-white rounded-full">
      <i class="fa-solid fa-trash"></i>
    </button>
    <button
      (click)="showToolBar = !showToolBar"
      class="px-3 bg-red-500 text-white rounded-full"
    >
      <span *ngIf="!showToolBar"><i class="fa-solid fa-plus"></i></span>
      <span *ngIf="showToolBar"><i class="fa-solid fa-xmark"></i></span>
    </button>
  </div>

  <div *ngIf="showToolBar" class="flex bg-gray-300">
    <button title="Sub Heading" (click)="addBlock(2)" class="hover:bg-red-600 hover:text-white grid p-2">
      <span><i class="fa-solid fa-heading"></i></span>
    </button>
    <button title="Paragraph" (click)="addBlock(3)" class="hover:bg-red-600 hover:text-white p-2 grid">
      <span><i class="fa-solid fa-paragraph"></i></span>
    </button>
    <button title="Image" (click)="addBlock(4)" class="hover:bg-red-600 hover:text-white p-2 grid">
      <span><i class="fa-solid fa-image"></i></span>
    </button>
    <button title="Video" (click)="addBlock(5)" class="hover:bg-red-600 hover:text-white p-2 grid">
      <span><i class="fa-solid fa-file-video"></i></span></button
    ><button title="Ads" (click)="addBlock(11)" class="hover:bg-red-600 hover:text-white p-2 grid">
      <span><i class="fa-brands fa-buysellads"></i></span>
    </button>
  </div>
</section>
