<!-- <div class="container fixed top-10 pt-14 overflow-x-hidden overflow-y-auto"> -->
<div
  class="bg-black/80 fixed top-0 bottom-0 left-0 right-0 h-screen p-5 z-50 overflow-scroll"
>
  <div
    class="mt-7 mx-auto opacity-100 duration-500 ease-out transition-all md:max-w-4xl md:w-full m-3"
  >
    <div class="flex flex-col bg-slate-100 border shadow-sm rounded-xl">
      <div class="flex justify-between items-center py-3 px-4 border-b">
        <p
          class="font-bold text-[28px] dark:text-gray-800 flex items-center gap-5"
        >
          {{ category?.categoryName }}
          <button
            (click)="deleteCategory(category.id)"
            class="text-base text-red-500"
          >
            <i class="fa-regular fa-trash-can fa-lg"></i>
          </button>
        </p>
        <button
          type="button"
          (click)="modelUnShow()"
          class="hs-dropdown-toggle inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-500 hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition-all text-sm dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"
          data-hs-overlay="#hs-medium-modal"
        >
          <span class="sr-only">Close</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="arcs"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>
      <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
              <p
                *ngIf="category?.subCategories.length == 0"
                class="text-center text-gray-500 my-10"
              >
                No Sub Category
              </p>
              <table
                *ngIf="category?.subCategories.length != 0"
                class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
              >
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                      Sub-Category
                    </th>

                    <th
                      scope="col"
                      class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase"
                    >
                      Action
                    </th>
                  </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                  <tr
                    *ngFor="let subcat of category?.subCategories"
                    class="hover:bg-slate-200"
                  >
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                    >
                      {{ subcat.subCategoryName }}
                    </td>

                    <td
                      class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                    >
                      <button
                        (click)="deleteSubcategory(subcat.id)"
                        class="text-red-500 hover:text-red-700"
                        href="#"
                      >
                        <i class="fa-regular fa-trash-can fa-lg"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
