<section>

  <ng-container [ngSwitch]="getMediaType(advertisement?.media?.mediaFormat)">

    <div class="h-96 w-full" *ngSwitchCase="'image'">

      <img

        [src]="mediaFilePath + advertisement?.media?.mediaPath"

        class="w-full h-full object-cover"

      />

    </div>

 

    <div class="h-96 w-full" *ngSwitchCase="'video'">

      <video

        [src]="mediaFilePath + advertisement?.media?.mediaPath"

        class="w-full h-full"

        controls

      ></video>

    </div>

 

    <p *ngSwitchDefault class="text-lg font-semibold px-2 py-2 text-justify">

      {{ advertisement?.media?.mediaPath }}

    </p>

  </ng-container>

</section>