<section class="container padding-0  h-auto margin-0 w-3/4 mx-auto ">
    <div class="flex gap-4">
        <div class="pt-4 pl-6 pr-4 pb-4 w-[70%]">
    <h3 class="uppercase text-xl font-semibold text-red-800">{{ post?.category?.categoryName }}</h3>
    <div>
    <h1 class="text-start font-semibold text-3xl mt-4">San Francisco’s robotaxi experiment is getting out of hand</h1>
    <h3 class="text-gray-800 mt-3 text-xl font-thin">The city’s bumpy experiment with self-driving taxis is spreading nationwide, too.</h3>
    <div class="flex mt-2">
    <div class="w-10 h-10 rounded-full overflow-hidden">
        <img
        
        class="h-full w-full overflow-hidden"
        src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg"
        alt=""
      />
    </div>
    <p class="text-start text-gray-400 mt-3 ml-3"> Avishay Artsy | Aug 19, 2023, 8:00am EDT</p>
</div>
    <div class="mt-3 p-x-2 flex items-center">
        <button ><i class="fa-brands fa-facebook-f w-15 h-15"></i></button>
        <button class="ml-3 px-2"><i class="fa-brands fa-twitter w-15 h-15 text-blue-700" ></i></button>
        <button class="ml-3 px-2" ><i class="fa-solid fa-share-from-square text-gray-400 px-2"></i>Share</button>

    </div>
    <div class="border-b-2 pb-6 py-2">
    <div class="w-full h-[60%] mt-4">
<img
 src="https://cdn.vox-cdn.com/thumbor/Am0Mq3rlue8Zfos2iFUgGgA4wqg=/0x0:3413x2189/1220x813/filters:focal(1557x1312:2103x1858):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/72558673/GettyImages_1497019989.0.jpg"
class="w-full h-full object-cover"

>

    </div>
    <div class="pt-2">
        <p class="text-gray-700  font-thin">A Cruise self-driving taxi pauses at an intersection in San Francisco. Justin Sullivan/Getty Images</p>
    </div>
</div>
<div class="mt-4">
    <p class="text-gray-600 text-lg text-start">Self-driving taxis are ferrying passengers across San Francisco and Phoenix, and they could be coming to a street near you very soon.</p>
    <p class="text-gray-600 text-lg text-start mt-4">“People like to say that San Francisco is at the heart of the robotaxi revolution. And they’re practically everywhere in the city now. You can see them crawling on every single street,” Lindqwister said.</p>
    <p class="text-gray-600 text-lg text-start mt-4">On August 10, the California Public Utilities Commission handed Cruise and Waymo a victory by allowing them to operate across San Francisco at all hours and charge fares. During a six-and-a-half-hour hearing, hundreds of residents testified for and against the robotaxis. Supporters claimed they were safer and more reliable than human-driven vehicles, and disabled people said they were more accessible, especially for service animals. Opponents, including transit and fire officials, argued that the taxis had repeatedly gotten in the way of emergency responders and had become a nuisance.</p>
<!-- Add Section -->
    <div class="w-full h-64  overflow-hidden mt-5 pb-4 border-b-2 pt-4 border-t-2 border-yellow-300">
        <img src="https://megaphone.imgix.net/podcasts/23d52a2a-1c5f-11ea-9a0e-b70170f2a827/image/uploads_2F1588357113366-jjsdfzx6x4m-c0339c10f9b113a5fcc93436e66e5ef4_2FTodayExplained%2BV2_Tile_3000x3000%2B_281_29.png?ixlib=rails-4.3.1&w=400&h=400" class="w-full h-full object-cover">
    </div>
    <!-- End of add section-->

    <p class="text-gray-600 text-lg text-start mt-4">To learn more about riding in cars with robots, Today, Explained host Sean Rameswaram spoke to Lindqwister on Vox’s daily news explainer podcast. Read on for a partial transcript of the conversation, edited and condensed for length and clarity, and listen to the full conversation wherever you find podcasts.</p>

</div>
<div class="pb-4 border-b-2">
    <div class="mt-4 w-full h-[60%] overflow-hidden">
        <img src="https://i.guim.co.uk/img/media/084e2800e1ba61526ce090ec93dd5c0b112cca64/0_12_5472_3283/master/5472.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&s=5a4a6a7d47c8ce6dc5d3ba2bb200cead" class="w-full h-full object-cover">
    </div>
    <div class="pt-3">
    <h2 class="text-gray-700  font-thin">Cruise robotaxi appears to hinder emergency crews after mass shooting | Self-driving cars | The Guardian</h2>
</div>
</div>
<h2 class="font-semibold text-xl  mt-5">This isn’t an experiment. This is the future. This is reality.</h2>
<p class="text-start text-gray-600 text-lg pt-4">It’s very real. And it’s happening right in my backyard. You’ll see them every single day when you’re going to work. I’ve taken them out to go get drinks with friends and stuff, and they’ve become about as ubiquitous as an Uber or a Lyft.

</p>

<!-- Add Section -->
<div class="w-full h-64  overflow-hidden mt-5 pb-4 border-b-2 pt-4 border-t-2 border-yellow-300">
    <img src="https://www.marketing91.com/wp-content/uploads/2020/06/COKE-Advertising-Example-Share-a-Coke-Campaign.jpg" class="w-full h-full object-cover">
</div>
<!-- End of add section-->

<h2 class="font-semibold text-xl  mt-5">How is this changing the experience of calling a cab? Are people doing different things in the car now that they’re alone?</h2>
<p class="text-start text-gray-600 text-lg pt-4">It’s very real. And it’s happening right in my backyard. You’ll see them every single day when you’re going to work. I’ve taken them out to go get drinks with friends and stuff, and they’ve become about as ubiquitous as an Uber or a Lyft.


    <div class="w-full h-64  overflow-hidden mt-5 pb-4 border-b-2 pt-4 border-t-2 border-yellow-300">
        <img src="https://images.thequint.com/thequint%2F2023-06%2Fc92a3c64-a38f-4eb8-960a-2c655d1c6ae3%2FNeon_Hero_Image.png?auto=format%2Ccompress&fmt=webp&width=720&w=1200" class="w-full h-full object-cover">

    </div>
</div>
<!-- view-comments -->
<div class="w-full h-auto border-2 mt-16">
<div class="pl-8 pr-8 pt-8 pb-8 w-[60%] ">
    <div class="flex items-center">
    <div class="w-14 h-14 rounded-full overflow-hidden">
        <img
        
        class="h-full w-full overflow-hidden"
        src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg"
        alt=""
      />
    </div>
    <div class="pl-2">
        <h1 class="font-semibold font-serif text-xl">Jaince Joe</h1>
    </div>
</div>
<div class="pl-14">
    <p class=" text-start text-base font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor officiis quibusdam consectetur culpa nihil, totam mollitia est omnis delectus, quidem error, quis laudantium non odio hic labore nesciunt qui laborum!</p>
</div>

<div class="mt-4 flex justify-between">
    <p class="text-gray-400 text-sm ml-14" >09/09/2022 @ 03:26 PM</p>
    <p class="text-gray-400 text-sm">Replies<button  (click)="reply()" class="ml-2"><i class="fa-solid fa-chevron-down text-green-400"></i></button></p>
    <button class="text-gray-400 text-sm">Reply</button>
</div>

</div>
<div *ngIf="replies " class="pl-8 pr-8 pt-4 pb-8 w-[60%] mx-auto ">

    <div class="flex items-center">
        <div class="w-14 h-14 rounded-full overflow-hidden">
            <img
            
            class="h-full w-full overflow-hidden"
            src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg"
            alt=""
          />
        </div>
        <div class="pl-2">
            <h1 class="font-semibold font-serif text-xl">Jaince Joe</h1>
        </div>
    </div>
    <div class="pl-14">
        <p class=" text-start text-base font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor officiis quibusdam consectetur culpa nihil, totam mollitia est omnis delectus, quidem error, quis laudantium non odio hic labore nesciunt qui laborum!</p>
    </div>
    
    <div class="mt-4 flex justify-between">
        <p class="text-gray-400 text-sm ml-14" >09/09/2022 @ 03:26 PM</p>
        <p class="text-gray-400 text-sm">Replies<button class="ml-2"><i class="fa-solid fa-chevron-down"></i></button></p>
        <button class="text-gray-400 text-sm">Reply</button>
    </div>
</div>
</div>

    <!-- comment-section -->
<div class="w-full h-auto border-2 mt-16">
    <div class="pl-8 pr-8 pt-8 pb-8">
    <h1 class="font-bold text-2xl">Leave a Comment on this post</h1>
    <div class="flex pt-4">
        <input type="text" class="border-2 px-4 py-4 w-[400px] rounded-lg" placeholder="FirstName">
        <input type="text" class="border-2 px-4 py-4 w-[400px] ml-8 rounded-lg" placeholder="LastName">
    </div>

    <div class="flex pt-4">
        <input type="text" class="border-2 px-4 py-4 w-[400px] rounded-lg" placeholder="MiddleName (Optional)">
        <input type="email" class="border-2 px-4 py-4 w-[400px] ml-8 rounded-lg" placeholder="Email">
    </div>

    <div class=" pt-4 ">
      <textarea name="" id="" cols="79%" rows="10" class="border-2 px-py-4 w-[95%] rounded-lg" placeholder="Comments"></textarea>
    </div>
<button class="bg-blue-500 text-white px-10 py-4 rounded-lg">Submit Your Comment</button>

<div class=" mt-4">
    <p class="text-xl text-center"><a class="text-green-400 font-bold">Login</a> to avoid entering Your Information </p>
</div>

</div>
</div>
    <h1 class="uppercase font-bold text-2xl mt-6 pb-3 border-b-2 border-yellow-400 ">Next up in technology</h1>
    <div class="mt-4 text-start ">
<a href="" class="text-blue-300 text-lg ">What normal Americans — not AI companies — want for AI</a><br>
<a href="" class="text-blue-300 text-lg mt-3">Is the AI boom already over ?</a><br>
<a href="" class="text-blue-300 text-lg mt-3">How does Elon Musk get away with it all?</a><br>
<a href="" class="text-blue-300 text-lg mt-3">The LED light revolution has only just begun</a><br>
<a href="" class="text-blue-300 text-lg mt-3">Is Zoom using your meetings to train its AI?</a>
    </div>
</div>
<!-- right -side -->

<div class="w-[30%]  pt-4 pl-6 pr-4 pb-4" >
    <div class=" mt-60 border-y-2 border-yellow-400 pb-4 pt-4">
<img src="https://www.businessinsider.in/photo/75180309/dunzo-pays-an-ode-to-some-classic-ads-to-connect-with-the-90s-kids.jpg?imgsize=295291" class="w-full h-full object-cover">
</div>
<div class="mt-10">
    <h1 class="text-xl font-serif border-b-2 pb-2">Most Read</h1>
    <div class="mt-3 flex border-b-2 pb-2 hover:bg-gray-300" *ngFor="let item of latest" routerLink="user/content/{{ post.postId }}">
        <h1 class="text-2xl font-bold text-gray-600">{{item.id}}</h1>
        <p class="text-lg font-bold ml-4">{{item?.heading?.content}}</p>

    </div>
    <div class="w-[80%] h-[80%] mt-32 border-y-2 border-yellow-400 pb-4 pt-4" *ngFor="let item of [1,2,3,4,5]">
        <img src="https://izispicy.com/old-img/img10/20170926/640/some_ads_will_stay_in_our_memories_forever_640_05.jpg" class="w-full h-full object-cover">
        </div>
    
</div>
</div>
</div>
<div class="pt-4 pl-6 pr-4 pb-4" *ngIf="suggestionPost.length != 0">
    <h1 class="text-2xl font-serif border-b-2 pb-2 border-yellow-400">Recommended</h1>
   <div class=" gap-2 pb-5 border-b-2">
    <div class=" flex mt-4 p-4   shadow-md bg-gray-50 hover:bg-gray-300" *ngFor="let post of suggestionPost"  routerLink="/user/content/{{ post.postId }}">
    <div class="w-[80%] h-[80%]" >
<img   [src]="
'http://192.168.29.97:5296/assets/' + post?.img?.content
" class="w-full h-full object-cover">

    </div>
    <div class="mt-3 pb-2 pl-4">
    <h1 class="text-start text-blue-500 text-xl">  {{ post?.heading.content }}.</h1>
    <p class="text-start text-gray-700 font-medium text-lg">{{ post?.subHeading.content }}</p>
</div>
</div>
</div>





</div>
<div class="w-[70%] pt-4 pl-6 pr-4 pb-4">
    <h1 class="uppercase text-2xl font-serif mt-8 pb-2 border-b-2 border-yellow-400">The latest</h1>
    <div class=" border-y-2 mt-5 flex p-4 hover:bg-gray-300" *ngFor="let item of latestPost"  routerLink="/user/content/{{ item.postId }}">
    <div class="w-[25%] h-[30%] overflow-hidden">
        <img [src]="'http://192.168.29.97:5296/assets/' + item?.img?.content"
        class="w-full h-full object-cover">
    </div>
    <div class="ml-3">
        <h1 class="font-bold text-xl text-start">{{ item?.heading?.content }}</h1>
        <p class="mt-2 text-gray-500">By {{item.fullName}}</p>
    </div>
</div>
</div>
</section>






