<main class="w-full mx-auto">
  <div class="text-center">
    <div class="absolute mt-9 ml-[20%]">
      <h2 class="text-xl font-bold text-white text-center">
        {{ categoryName }}
      </h2>
      <p class="text-lg font-bold text-gray-100 my-5">
        Find expert travel tips, city guides, and hotel recommendations to plan
        your next weekend getaway or faraway adventure.
      </p>
    </div>

    <div class="h-[550px]">
      <img
        class="w-full h-full object-cover"
        src="https://images.pexels.com/photos/5209142/pexels-photo-5209142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
    </div>
  </div>
  <!-- category -->
  <div class="w-[80%] mx-auto flex gap-5">
    <div class="w-4/6 mb-5">
      <div *ngFor="let post of categoryPost">
        <a href="blog_content.html">
          <div
            class="flex my-5 border-b-2 p-5 hover:shadow-sm hover:shadow-gray-400"
          >
            <div class="w-[30rem] h-[16rem] overflow-hidden">
              <img
                class="w-full h-full object-cover"
                [src]="'http://192.168.29.97:5296/assets/' + post?.img?.content"
                alt=""
              />
            </div>
            <div class="w-[75%] p-5">
              <h3 class="text-lg font-bold">
                {{ post?.heading?.content }}
              </h3>
              <p class="mt-5 text-medium text-gray-600">
                {{ post?.subHeading?.content }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- side ad -->
    <div class="w-2/6 my-5 flex flex-col gap-10">
      <div class="w-full h-64 bg-black">
        <h1 class="text-5xl text-center font-bold text-gray-100 p-16">AD</h1>
      </div>
      <div class="w-full h-64 bg-black">
        <h1 class="text-5xl text-center font-bold text-gray-100 p-16">AD</h1>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <nav class="flex items-center my-5 space-x-2">
      <a
        class="text-gray-500 hover:text-blue-600 p-3 inline-flex items-center gap-2 rounded-md"
        href="#"
      >
        Previous
      </a>
      <a
        class="text-gray-500 hover:text-blue-600 p-3 inline-flex items-center text-sm font-medium rounded-full"
        href="#"
        aria-current="page"
        >1</a
      >
      <a
        class="text-gray-500 hover:text-blue-600 p-3 inline-flex items-center text-sm font-medium rounded-full"
        href="#"
        >2</a
      >
      <a
        class="text-gray-500 hover:text-blue-600 p-3 inline-flex items-center text-sm font-medium rounded-full"
        href="#"
        >3</a
      >
      <a
        class="text-gray-500 hover:text-blue-600 p-3 inline-flex items-center gap-2 rounded-md"
        href="#"
      >
        Next
      </a>
    </nav>
  </div>
</main>
