<main class="w-full mx-auto">
  <div class="text-center flex justify-center">
    <div class="absolute mt-28">
      <h2 class="text-6xl font-bold text-white uppercase -z-10">
        {{ categoryName }}
      </h2>
    </div>

    <div class="h-[550px] w-full">
      <img
        [src]="mediaFilePath + categoryCoverPic"
        class="w-full h-full object-cover"
        alt=""
      />
    </div>
  </div>
  <!-- category -->
  <div class="md:w-[80%] mx-auto mt-5 flex gap-5">
    <div class="md:w-4/6 w-full mb-5">
      <!-- loading -->
      <div
        *ngIf="loading"
        class="flex mt-10 w-full container mx-auto justify-center"
      >
        <div class="flex items-center pointer-events-none pl-10">
          <div
            class="animate-spin inline-block w-8 h-8 border-[3px] border-current border-t-transparent text-red-900 rounded-full"
            role="status"
            aria-label="loading"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <p class="m-3 italic bold text-black text-xl font-bold">
          Please Wait...
        </p>
      </div>
      <div
        *ngIf="categoryPost == '' && !loading"
        class="container text-center text-gray-400 text-lg py-5"
      >
        No Blog avaliable in this Category
      </div>
      <div *ngFor="let post of categoryPost">
        <a routerLink="/content/{{ post.postId }}">
          <div
            class="md:flex my-5 border-b-2 p-5 hover:shadow-sm hover:shadow-gray-400"
          >
            <div class="md:w-[30rem] h-[16rem] overflow-hidden">
              <img
                class="w-full h-full object-cover"
                [src]="mediaFilePath + post?.img?.content"
                alt=""
              />
            </div>
            <div class="w-full md:w-[75%] p-5">
              <h3 class="text-lg md:text-2xl font-bold">
                {{ post?.heading?.content }}
              </h3>
              <p class="mt-5 text-medium text-gray-600">
                {{ post?.subHeading?.content }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- side ad -->
    <div class="hidden w-2/6 my-5 md:flex flex-col gap-10">
      <div class="w-full h-64 bg-black">
        <app-advertisementView class="h-full w-full" [adPosition]="16"></app-advertisementView>
      </div>
      <div class="w-full h-64 bg-black">
        <app-advertisementView class="h-full w-full" [adPosition]="17"></app-advertisementView>

      </div>
    </div>
  </div>
</main>
<app-pop-up3></app-pop-up3>
