<section
  class="h-screen w-[80%] overflow-y-auto px-6 py-6 bg-white container mx-auto"
>
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold text- text-blue-500 mt-10">List of Users</h1>
    <a routerLink="register" class="border-2 p-4 border-black rounded-md">
      <span><i class="fa-solid fa-user-plus"></i> Add User</span>
    </a>
  </div>
  <div class="container pb-10">
    <!-- nav -->
    <nav class="flex shadow space-x-2 h-20 bg-gray-300" aria-label="Tabs">
      <a
        class="flex gap-1 items-center py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-se-md focus:z-10 hover:text-black"
        routerLink="active-users"
        routerLinkActive="bg-white"
      >
        <i class="fa-solid fa-user-check fa-2xl"></i>
        Active Users
        <span class="bg-blue-700 text-white px-2 py-1 rounded-full"
          >{{ activeUsers?.length }}
        </span>
      </a>
      <a
        class="flex gap-1 items-center py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-se-md focus:z-10 hover:text-black"
        routerLink="blocked-users"
        routerLinkActive="bg-white"
      >
        <i class="fa-solid fa-user-lock fa-2xl"></i>
        Blocked Users
        <span class="bg-blue-700 text-white px-2 py-1 rounded-full">
          {{ blockedUsers?.length }}</span
        >
      </a>

      <a
        class="flex gap-1 items-center py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-se-md focus:z-10 hover:text-black"
        routerLink="deleted-users"
        routerLinkActive="bg-white"
      >
        <i class="fa-solid fa-user-xmark fa-2xl"></i>
        Deleted Users
        <span class="bg-blue-700 text-white px-2 py-1 rounded-full">
          {{ deletedUsers?.length }}</span
        >
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</section>
