<!-- Tags-->

<section class="p-5 container mx-auto w-[70%]">
  <div class="pb-10">
    <!-- nav -->
    <nav class="flex space-x-2 h-20 bg-gray-300" aria-label="Tabs">
      <a
        class="flex gap-1 items-center py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-se-md focus:z-10 hover:text-black"
        routerLink="tags"
        routerLinkActive="bg-white"
      >
        <i class="fa-solid fa-database fa-2x mr-1"></i>
        Tags
      </a>

      <a
        class="flex items-center gap-1 py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-t-lg focus:z-10 hover:text-black"
        routerLink="add-tags"
        routerLinkActive="bg-white"
      >
        <i class="fa-solid fa-circle-plus fa-2x"></i>
        Add Tags
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</section>
