<!-- THEMES -->

<section class="p-5 h-screen">
  <div class="container mx-auto w-[80%] pb-10 bg-white">
    <!-- current themes -->
    <div class="border-b-2 border-gray-900 p-5 relative">
      <h2 class="text-3xl font-semibold mb-5">Current Themes</h2>
      <div
        class="w-[25rem] h-80 transition-all duration-300 p-5 group hover:border-2 hover:shadow-xl"
      >
        <img
          [src]="mediaFilePath + currentTheme?.coverPicture"
          alt=""
          width="full"
          height="full"
        />
        <button
          (click)="openSampleView(currentTheme)"
          class="bg-green-600 rounded-lg transition-all duration-300 text-black p-2 absolute top-48 ml-40 hidden group-hover:block shadow-xl"
        >
          view
        </button>
      </div>
    </div>
    <!-- additional themes -->
    <div class="p-5">
      <h2 class="text-3xl font-semibold">Themes</h2>
      <div class="grid grid-cols-3 gap-6">
        <!-- indv themes -->
        <div *ngFor="let item of themes" class="flex gap-5">
          <div
            class="w-[25rem] h-80 transition-all duration-300 p-5 group hover:border-2 hover:shadow-xl"
          >
            <img
              [src]="mediaFilePath + item?.coverPicture"
              alt=""
              width="full"
              height="full"
            />
            <button
              (click)="openSampleView(item)"
              class="bg-green-600 rounded-lg transition-all duration-300 text-black p-2 absolute hidden group-hover:block shadow-xl ml-40 -mt-20"
            >
              view
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-samplePage
  [data]="selectedTheme"
  (onChange)="closeSampleView()"
  *ngIf="openSample"
></app-samplePage>
