<section class="md:grid grid-cols-12 overflow-y-hidden">
  <div class="md:col-span-2 flex col-span-2">
    <button (click)="navBar = true" class="md:hidden m-4">
      <i class="fa-solid fa-bars fa-xl md:hidden"></i>
    </button>
    <app-navbar [data]="data" class="hidden md:block"></app-navbar>
  </div>
  <div class="h-screen w-full md:col-span-10 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</section>
<app-navbar
  [data]="data"
  *ngIf="navBar"
  (onClick)="showNavbar()"
  class="fixed top-0 bottom-0 left-0 right-0 h-screen md:hidden"
></app-navbar>
