<section>
  <!-- <div *ngIf="posts.length==0">

      <p class="text-center text-2xl font-semibold">No posts found.</p>

    </div> -->

  <div class="right-0 mb-5">
    <button
      (click)="enableSearch = !enableSearch"
      class="bg-blue-600 text-white px-3 py-2 rounded-full mr-3"
    >
      <span *ngIf="!enableSearch"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>

      <span *ngIf="enableSearch"><i class="fa-solid fa-xmark"></i></span>
    </button>

    <input
      *ngIf="enableSearch"
      (input)="searchPostByName($event)"
      type="search"
      placeholder="Search By Post Name.."
      class="outline-green-600 p-2 border-2 rounded-lg border-blue-500 w-[50%]"
      type="text"
    />
  </div>

  <div *ngIf="!posts" class="flex w-full container mx-auto justify-center">
    <div class="flex items-center pointer-events-none pl-10">
      <div
        class="animate-spin inline-block w-8 h-8 border-[3px] border-current border-t-transparent text-red-900 rounded-full"
        role="status"
        aria-label="loading"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <p class="m-3 italic bold text-black text-xl font-bold">Please Wait...</p>
  </div>

  <div class="relative">
    <ul class="z-99">
      <li
        class="border-2 p-3 mb-2 flex justify-between"
        *ngFor="let post of posts; let i = index"
      >
        <div>
          <h2 class="text-lg font-semibold">
            {{ post.postSections[0]?.content}}
          </h2>
        </div>

        <button class="w-20" (click)="toggleEditMenu(post, i)">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>

        <div
          *ngIf="showDiv && listIndex == i"
          class="absolute w-48 bg-white border-2 rounded-lg border-black mt-10 right-0 overflow-hidden"
        >
          <ul >
            <a
              *ngIf="!picks"
              routerLink="/admin/newPost"
              [queryParams]="{ postId: post.id }"
            >
              <li
                class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
              >
                <span><i class="fa-solid fa-pen-to-square"></i> </span>

                Edit
              </li></a
            >

            <a *ngIf="draft || trash" (click)="publishPost(post.id)">
              <li
                class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
              >
                <span *ngIf="!trash"
                  ><i class="fa-solid fa-upload"></i> Publish</span
                >

                <span *ngIf="trash"
                  ><i class="fa-solid fa-trash-arrow-up"></i> Restore</span
                >
              </li></a
            >

            <li
              *ngIf="published"
              (click)="addEditorsPick(post.id)"
              class="hover:bg-red-600 hover:text-white p-3 cursor-pointer flex items-center gap-2"
            >
              <span><i class="fa-solid fa-chart-simple"></i></span>

              <a>Add to Editor's pick</a>
            </li>

            <li
              (click)="showBox(i)"
              class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
            >
              <span><i class="fa-solid fa-eye"></i> view</span>
            </li>

            <li
              *ngIf="!picks"
              (click)="deletePost(post.id)"
              class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
            >
              <span *ngIf="!trash"
                ><i class="fa-solid fa-trash"></i> delete</span
              >
            </li>

            <li
              *ngIf="picks"
              (click)="RemovePick(post.id)"
              class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
            >
              <span><i class="fa-solid fa-trash"></i> Remove</span>
            </li>
            <li class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2">
              <form [formGroup]="enableCommentForm">
              <div class="flex items-center">
                <label 
                  >Enable Comments</label
                >
                <input
                (change)="onCheckboxChange($event,post.id)"
                  formControlName="enableComment"
                  type="checkbox"
                 
                  id="hs-basic-with-description"
                  class="relative shrink-0 w-[3.25rem] h-7 bg-gray-100 checked:bg-none checked:bg-blue-600 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 ring-1 ring-transparent focus:border-blue-600 focus:ring-blue-600 ring-offset-white focus:outline-none appearance-none dark:bg-gray-700 dark:checked:bg-blue-600 dark:focus:ring-offset-gray-800 before:inline-block before:w-6 before:h-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:shadow before:rounded-full before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-gray-400 dark:checked:before:bg-blue-200"
                />
               
              </div>
            </form>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <app-pagination
    *ngIf="posts"
    [offsetValue]="offsetValue"
    [totalLength]="totalData"
    (emitPage)="emitPages()"
    [lengthValue]="pageLength"
    [totalData]="posts"
  ></app-pagination>
</section>

<app-shared-model
  *ngIf="commentDiv"
  (onClick)="commentDiv = false"
  [post]="viewPost"
></app-shared-model>
