<section>
    <div hidden>
      <p class="text-center text-2xl font-semibold">No posts found.</p>
    </div>
    <div class="relative">
      <ul>
        <li
          class="border-2 p-3 mb-2 flex justify-between"
          *ngFor="let post of posts; let i = index"
        >
          <div>
            <h2 class="text-lg font-semibold">{{ post.postSections[0]?.content }}</h2>
            <p class="text-gray-500 text-sm">{{post.postSections[1]?.content}}</p>
          </div>
          <img [src]="post.content" class="w-66 h-66" alt="">
          <button (click)="toggleEditMenu(post, i)">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button> 
          <div
            *ngIf="showDiv && listIndex == i"
            class="absolute w-48 bg-white border-2 rounded-lg border-black mt-10 right-0 overflow-hidden"
          >
            <ul>
              <li
                class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
              >
                <span><i class="fa-solid fa-pen-to-square"></i> </span>
                <a routerLink="/newPost" [queryParams]="{postId:post.id}">Edit</a>
              </li>
              <li
                class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
              >
                <span><i class="fa-solid fa-chart-simple"></i></span>
                <a href="">stats</a>
              </li>
              <li
                class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
              >
                <span><i class="fa-solid fa-eye"></i> </span>
                <button (click)="showBox(i)">view</button>
              </li>
              <li
                class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
              >
                <span><i class="fa-solid fa-comments"></i></span>
                <a href=""> comments</a>
              </li>
              <li
                class="hover:bg-red-600 hover:text-white p-3 flex items-center gap-2"
              >
                <span><i class="fa-solid fa-trash"></i></span>
                <a href=""> delete</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <app-pagination *ngIf="posts" [offsetValue]="offsetValue"
    (emitPage)="emitPages()"
    [lengthValue]="pageLength"
    [totalData]="posts"
    ></app-pagination>
  </section>
  <app-shared-model
    *ngIf="commentDiv"
    (onClick)="commentDiv = false"
    [post]="viewPost"
  ></app-shared-model>
  