<nav class="flex items-center space-x-2">
  <button
    [disabled]="currentPage == 1"
    (click)="previousPage()"
    class="text-gray-400 disabled:cursor-not-allowed hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md"
  >
    <span aria-hidden="true">«</span>
    <span>Previous</span>
  </button>
  <ng-container>
    <button
    (click)="togglePage(currentPage - 1)"
      [ngClass]="{ currentPage: currentPage == currentPage - 1 }"
      *ngIf="currentPage != 1"
      class="w-10 h-10 text-black p-4 inline-flex items-center text-sm font-medium rounded-full"
      aria-current="page"
    >
      {{ currentPage - 1 }}
    </button>
  </ng-container>
  <ng-container>
    <button
      [ngClass]="{ currentPage: currentPage }"
      (click)="togglePage(currentPage)"
      class="w-10 h-10 text-black p-4 inline-flex items-center text-sm font-medium rounded-full"
      aria-current="page"
    >
      {{ currentPage }}
    </button>
  </ng-container>
  <ng-container>
    <button
      [ngClass]="{ currentPage: currentPage == currentPage +1 }"
      *ngIf="currentPage != total"
      (click)="togglePage(currentPage + 1)"
      class="w-10 h-10 text-black p-4 inline-flex items-center text-sm font-medium rounded-full"
      aria-current="page"
    >
      {{ currentPage + 1 }}
    </button>
  </ng-container>

  <button
    [disabled]="currentPage === total"
    (click)="nextPage()"
    class="text-gray-500 hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md disabled:cursor-not-allowed"
  >
    <span>Next</span>
    <span aria-hidden="true">»</span>
  </button>
</nav>
