<section class=" w-[80%] container mx-auto px-5 py-5 bg-slate-50 border-2">
    <div class="bg-gray-400 flex ">
    <div class="w-[70%] h-96 overflow-hidden">
        <img src="https://d26oc3sg82pgk3.cloudfront.net/files/media/edit/image/1616/article_full%401x.jpg" class="w-full h-full object-cover">
        </div>
    <div class="w-[30%] px-4 py-4">
<h1 class="font-thin text-5xl text-white">Contact Us</h1>
<h2 class="font-serif text-3xl text-start mt-5">Making a change starts with one conversation</h2>
    </div>
</div>
<div class="w-[70%] mx-auto mt-5 border-2 px-4 py-4">
    <form [formGroup]="sendMessageForm" (ngSubmit)="sendMessage()">
    <h3 class="text-2xl font-semibold text-center font-serif">Fill  the Form below for a conversation</h3>
    <div class="w-[70%] mx-auto mt-10 pl-5 pr-5 pb-5 ">
        <div class="flex gap-5 items-center">
      
            <h3 class="text-xl font-semibold text-gray-700 mr-10 mt-3">Name</h3>
            <input type="text" placeholder=" FirstName " formControlName="firstName" class="text-gray-700 mt-4 w-64 h-12 px-4 py-4">
      
            
            <input type="text" placeholder=" LastName " formControlName="lastName" class="text-gray-700 mt-4 w-64 h-12 px-4 py-4">
       
    </div>
    <div class="flex gap-5 items-center mt-4">
      
        <h3 class="text-xl font-semibold text-gray-700 mr-10 mt-3">Email<span class="text-red-600">*</span></h3>
        <input type="text" placeholder=" Email " formControlName="email" class="text-gray-700 mt-4 w-full h-12 px-4 py-4">
  
        
       
   
</div>

<div class="flex gap-5 items-center mt-4">
      
    <h3 class="text-xl font-semibold text-gray-700 mt-3">Phone</h3>
    <select class="w-[200px]  h-12 px-4 py-2 ml-10 mt-2" (change)="onCountrySelect($event)" formControlName="country" >
        <option value="" disabled selected>Choose Country</option>
        <option *ngFor="let country of countries" [value]="country.name.common" >
            {{ country.name.common }}
          </option>
    </select>
    <input type="text"
    [(ngModel)]="phoneNumber" name="phoneNumber" formControlName="phoneNo" [disabled]="!selectedCountry"  class="text-gray-700 mt-4 w-[336px] h-12 px-4 py-4">

    
   

</div>
<div class="flex  items-center mt-4 pr-2">
      
    <h3 class="text-xl font-semibold text-gray-700 mr-10 mt-3">Message<span class="text-red-600">*</span></h3>
    <textarea type="text" placeholder=" Message " formControlName="message" class="text-gray-700  w-[536px]  px-4 py-4 "></textarea>

    
   

</div>
<div class="flex gap-5 items-center mt-4">
      
    <h3 class="text-xl font-semibold text-gray-700 mr-10 mt-3">Verification<span class="text-red-600">*</span></h3>
    
    <div class="border-2  w-[370px] h-28 pr-11 flex justify-between">
        <div class="mt-10 ml-4 flex gap-2 ">
        <input type="checkbox" class="w-8 h-8">
        <h2 class="text-xl font-semibold"> I'm not a robot </h2>
    </div>
    <div class="mt-2 ml-2">
    <div class=" w-14 h-14 overflow-hidden">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/RecaptchaLogo.svg/800px-RecaptchaLogo.svg.png"
        class="w-full h-full object-cover">
    </div>
    <p class="text-gray-400 text-base ">Privacy-Terms</p>
</div>
    </div>

    
   

</div>
<div class="mt-4 text-center ">
<button type="submit" class="border-2 w-64 h-14 px-4 py-4 rounded-lg bg-green-500 text-white text-lg font-semibold">Submit</button>
</div>
    </div>
</form>
</div>

</section>