<section class="p-5 container mx-auto w-[70%]">
  <div class="container pb-10">
    <!-- nav -->
    <nav class="flex space-x-2 h-20 shadow bg-gray-300" aria-label="Tabs">
      <a
        class="flex gap-1 items-center py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-se-md focus:z-10 hover:text-black"
        routerLink="admin-blog-setting"
        routerLinkActive="bg-white"
      >
        <i class="fa-solid fa-screwdriver-wrench fa-2x mr-1"></i>

        Site Setting
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</section>
