<section class="flex gap-2 mb-5">
  <div class="flex bg-gray-300 w-32 justify-between h-10">
    <button
      title="Bold"
      (click)="applyBold('bold')"
      class="hover:bg-red-600 hover:text-white grid p-2"
    >
      <span><i class="fa-solid fa-bold"></i></span>
    </button>
    <button
      title="italic"
      (click)="applyBold('italic')"
      class="hover:bg-red-600 hover:text-white p-2 grid"
    >
      <span><i class="fa-solid fa-italic"></i></span>
    </button>
    <button (click)="showUrlInput=!showUrlInput" title="link" class="hover:bg-red-600 hover:text-white p-2 grid">
      <span><i class="fa-solid fa-link"></i></span>
    </button>
  </div>
  <div *ngIf="showUrlInput">
    <form [formGroup]="urlForm" (submit)="applyUrl()">
      <input
        formControlName="url"
        placeholder="paste URL here..."
        class="m-2 outline-blue-500 p-2"
        type="text"
      />
      <button type="submit" class="bg-blue-600 text-white rounded-md p-2">
        Save
      </button>
    </form>
  </div>
</section>
