<main class="md:container mx-auto md:w-full my-5 p-5">
  <div class="md:flex gap-10">
    <!-- left side -->

    <div class="md:w-2/6 hidden md:grid h-auto py-5 mt-10">
      <!-- ad #1 -->
      <div class="w-full overflow-hidden">
        <app-advertisementView
          class="h-full w-full"
          [adPosition]="9"
        ></app-advertisementView>
      </div>

      <!-- ad #2 -->
      <div class="w-full hidden md:block h-64 overflow-hidden">
        <app-advertisementView
          class="h-full w-full"
          [adPosition]="10"
        ></app-advertisementView>
      </div>
      <!-- ad #3 -->
      <div class="w-full hidden md:block h-64 overflow-hidden">
        <app-advertisementView
          class="h-full w-full"
          [adPosition]="11"
        ></app-advertisementView>
      </div>
    </div>
    <!-- post -->
    <section class="container h-full mx-auto">
      <div class="h-full w-full overflow-y-auto md:border-r-2">
        <!-- content -->

        <div class="container mx-auto md:w-[80%] my-5">
          <p class="text-red-500 font-bold text-xl uppercase">
            {{ post?.category?.categoryName }}
          </p>

          <div
            [ngStyle]="{ 'font-family': post?.postFont }"
            *ngFor="let postItem of post?.postSections; let i = index"
            class="w-full"
          >
            <ng-container [ngSwitch]="postItem.sectionTypeId">
              <!-- main title -->
              <ng-container *ngSwitchCase="1"
                ><h1 class="md:text-5xl text-2xl font-extrabold my-4">
                  {{ postItem.content }}
                </h1>
                <div class="flex items-center gap-3 mb-2">
                  <div
                    (click)="navigateToUserProfile(post?.author?.id)"
                    class="w-10 h-10 rounded-full overflow-hidden"
                  >
                    <img
                      class="w-full h-full overflow-hidden"
                      [src]="mediaFilePath + post.author.profilePicturePath"
                      alt=""
                    />
                  </div>

                  <span
                    (click)="navigateToUserProfile(post?.author?.id)"
                    class="text-sm font-medium text-gray-500 hover:underline"
                  >
                    {{ post.author.firstName }}
                    {{ post.author.lastName }} |
                    {{ post.createdAt | date : "MMM d, y, h:mm a" }}
                  </span>
                </div>
              </ng-container>
              <!-- sub heading -->
              <ng-container *ngSwitchCase="2"
                ><h2 class="md:text-3xl text-base font-medium my-5">
                  {{ postItem.content }}
                </h2></ng-container
              >
              <!-- paragraph -->

              <ng-container *ngSwitchCase="3">
                <div
                  class="para text-justify mb-5 mt-5"
                  [innerHTML]="postItem.content | formatLinks"
                ></div
              ></ng-container>
              <!-- image -->
              <ng-container *ngSwitchCase="4"
                ><img
                  [src]="mediaFilePath + postItem.content"
                  class="aspect-{{
                    postItem?.sectionAttributes[findIndex(6, i)]?.value
                  }} object-{{
                    postItem?.sectionAttributes[findIndex(7, i)]?.value
                  }} mt-5"
                  [ngStyle]="
                    getImageStyle(
                      postItem.sectionAttributes[findIndex(1, i)]?.value,
                      postItem.sectionAttributes[findIndex(2, i)]?.value
                    )
                  "
              /></ng-container>
              <!-- video -->

              <ng-container *ngSwitchCase="5"
                ><video
                  autoplay
                  muted
                  controls
                  [src]="mediaFilePath + postItem.content"
                  class="aspect-{{
                    postItem?.sectionAttributes[findIndex(6, i)]?.value
                  }} object-{{
                    postItem?.sectionAttributes[findIndex(7, i)]?.value
                  }} mt-5"
                  [ngStyle]="
                    getImageStyle(
                      postItem.sectionAttributes[findIndex(1, i)]?.value,
                      postItem.sectionAttributes[findIndex(2, i)]?.value
                    )
                  "
                ></video
              ></ng-container>
              <!-- ad -->
              <ng-container *ngSwitchCase="6">
                <div class="border-y-2 py-2">
                  <p class="text-center">AD</p>

                  <a
                    target="_blank"
                    [href]="postItem.sectionAttributes[findIndex(4, i)]?.value"
                    ><img
                      class="my-5 w-full h-[200px]"
                      [src]="mediaFilePath + postItem.content"
                  /></a></div
              ></ng-container>
              <ng-container *ngSwitchCase="9">
                <div class="border-y-2 py-2">
                  <p class="text-center">AD</p>

                  <a
                    target="_blank"
                    [href]="postItem.sectionAttributes[findIndex(4, i)]?.value"
                    ><img
                      class="my-5 w-full h-[200px]"
                      [src]="mediaFilePath + postItem.content"
                  /></a></div
              ></ng-container>
              <ng-container *ngSwitchCase="10">
                <div class="border-y-2 py-2">
                  <p class="text-center">AD</p>

                  <a
                    target="_blank"
                    [href]="postItem.sectionAttributes[findIndex(4, i)]?.value"
                    ><video
                      class="my-5"
                      controls
                      muted
                      [src]="mediaFilePath + postItem?.content"
                    ></video
                  ></a></div
              ></ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- comments -->
      <div class="flex gap-1 items-center" (click)="opencomm()">
        <button class="text-lg hover:text-blue-400">
          Comments<span>({{ totalLength }})</span>
        </button>

        <span
          *ngIf="totalLength > 0 && !openComments"
          class="hover:text-blue-400"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </span>

        <span
          *ngIf="totalLength > 0 && openComments"
          class="hover:text-blue-400"
        >
          <i class="fa-solid fa-chevron-up"></i>
        </span>
      </div>
      <div *ngIf="totalLength == 0" class="flex justify-center">
        <p>No comments Yet.</p>
      </div>
      <div *ngIf="!commentStatus"></div>

      <div *ngIf="commentStatus">
        <div
          *ngIf="openComments"
          class="h-auto border-2 border-gray-200 m-5 p-4"
        >
          <h3 class="text-2xl font-semibold">Comments</h3>

          <!-- <div *ngIf="comments == ''" class="flex justify-center">
            <p>No comments Yet.</p>
          </div> -->
          <div class="h-[85%] overflow-y-auto p-3">
            <!-- whole comment -->

            <ng-container *ngFor="let item of comments">
              <ng-container *ngFor="let item2 of item">
                <div
                  *ngIf="item2.parentId === null"
                  class="p-3 border-b-2 pb-2"
                >
                  <div>
                    <div class="flex justify-between items-center">
                      <p class="text-lg font-medium">
                        {{ item2.author.firstName }} {{ item2.author.lastName }}
                      </p>
                      <button (click)="report(item2)" class="text-red-500">
                        report <i class="fa-solid fa-flag"></i>
                      </button>
                    </div>

                    <p class="text-xs text-gray-400">
                      {{ item2.createdAt | date }}
                    </p>

                    <p class="text-sm">
                      {{ item2.content }}
                    </p>

                    <div class="flex gap-5">
                      <button (click)="replyBox(item2)" class="text-blue-500">
                        Reply
                      </button>

                      <div>
                        <button
                          [id]="item2.id"
                          #commentOpen
                          (click)="viewReplyBox(commentOpen.id, item)"
                          class="text-blue-500"
                        >
                          <i class="fa-solid fa-chevron-down"></i> replies
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- replay comments view -->

                  <div
                    *ngIf="commentOpen.id == commentboxId && viewReplyComments"
                    class="w-full h-36 overflow-y-auto my-5 p-4"
                  >
                    <div
                      *ngFor="let replayComment of replayCommentData"
                      class="mb-5"
                    >
                      <div class="flex justify-between items-center">
                        <div class="flex gap-4 items-center">
                          <p class="text-base font-medium">
                            {{ replayComment.author.firstName }}

                            {{ replayComment.author.lastName }}
                          </p>

                          <p class="text-xs text-gray-400">
                            {{ replayComment.createdAt | date }}
                          </p>
                        </div>
                        <button
                          (click)="report(replayComment)"
                          class="text-red-500"
                        >
                          report <i class="fa-solid fa-flag"></i>
                        </button>
                      </div>

                      <p class="text-base">
                        <span class="lowercase text-blue-500 text-sm"
                          >@ {{ replayComment.parentAuthor }}</span
                        >

                        {{ replayComment.content }}
                      </p>

                      <button
                        (click)="replyBox(replayComment)"
                        class="text-blue-500 text-sm"
                      >
                        Reply
                      </button>
                    </div>
                  </div>

                  <!--  -->
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div *ngIf="!enableComments" class="flex justify-center">
          <p>Comments disabled</p>
        </div>
        <div *ngIf="enableComments" class="border-2 border-gray-200 m-5 p-4">
          <!-- sending comments -->

          <!-- guest users comment form -->

          <form
            *ngIf="!loginStatus"
            [formGroup]="guestCommentForm"
            class="w-full p-4"
          >
            <div formGroupName="tempUser" class="md:grid md:grid-cols-2 gap-4">
              <div class="grid grid-row-2 gap-2">
                <label class="font-medium text-base text-stone-600"
                  >First Name*:</label
                >

                <input
                  formControlName="firstName"
                  type="text"
                  class="border-2 rounded p-2 outline-none"
                />
              </div>

              <div class="grid grid-row-2 gap-2">
                <label class="font-medium text-base text-stone-600"
                  >Middle Name :</label
                >

                <input
                  formControlName="middleName"
                  type="text"
                  class="border-2 rounded p-2 outline-none"
                />
              </div>

              <div class="grid grid-row-2 gap-2">
                <label class="font-medium text-base text-stone-600"
                  >Last Name* :</label
                >

                <input
                  formControlName="lastName"
                  type="text"
                  class="border-2 rounded p-2 outline-none"
                />
              </div>

              <div class="grid grid-row-2 gap-2">
                <label class="font-medium text-base text-stone-600"
                  >Email*:</label
                >

                <input
                  formControlName="email"
                  type="text"
                  name=""
                  id=""
                  class="border-2 rounded p-2 outline-none"
                />
              </div>
            </div>

            <div class="grid grid-rows-1 gap-2">
              <label class="font-medium text-base text-stone-600"
                >Comment :</label
              >

              <textarea
                formControlName="content"
                class="py-3 px-4 block border-gray-200 col-span-10 border-2 rounded p-2 outline-nonetext-sm focus:border-blue-500 focus:ring-blue-500"
                rows="3"
                [placeholder]="parentCommentAuthor"
              ></textarea>
            </div>

            <button
              (click)="sendReply()"
              class="my-5 flex justify-center top-10 text-white md:w-1/6 mx-auto bg-green-500 rounded p-2"
            >
              Send
            </button>
          </form>

          <div *ngIf="!loginStatus" class="text-center p-5">
            <p>
              <button
                (click)="openLogin = true"
                class="text-blue-500 hover:underline"
              >
                login
              </button>
              to avoid re-entering detailes next time
            </p>

            <p class="text-xs">* required</p>
          </div>

          <!-- login users comment form -->
          <div
            *ngIf="toggleReply"
            class="flex justify-between items-center md:px-3 px-4"
          >
            <p>
              Replying to
              <span class="text-blue-600">{{ parentCommentAuthor }}</span>
            </p>
            <button (click)="closeReplyTag()">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <form
            *ngIf="loginStatus"
            [formGroup]="commentForm"
            class="grid grid-cols-1 gap-3 p-4"
          >
            <div class="grid grid-rows-1 gap-2">
              <label class="font-medium text-base text-stone-600"
                >Comment :</label
              >

              <textarea
                formControlName="content"
                class="py-3 px-4 block border-gray-200 col-span-10 border-2 rounded p-2 outline-nonetext-sm focus:border-blue-500 focus:ring-blue-500"
                rows="3"
              ></textarea>
            </div>

            <button
              (click)="sendReply()"
              class="col-span-2 top-10 text-white w-1/6 mx-auto bg-green-500 rounded p-2"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </section>

    <!-- right side -->
    <!-- ad #1 -->
    <div class="md:w-2/6 p-5 mt-10 mb-10">
      <div class="w-full hidden md:block h-64 overflow-hidden mb-10">
        <app-advertisementView
          class="h-full w-full"
          [adPosition]="15"
        ></app-advertisementView>
      </div>

      <div *ngIf="moreArticlePost.length != 0" class="mt-16">
        <h4 class="text-xl font-black flex md:grid">More Articles</h4>

        <div *ngFor="let post of moreArticlePost" class="my-5 border-b-2">
          <div class="h-52 w-52 hover:shadow-xl">
            <a routerLink="/content/{{ post.postId }}">
              <img
                class="h-full object-cover hover:rounded-md"
                [src]="mediaFilePath + post?.img?.content"
                alt=""
              />
            </a>
          </div>

          <div class="py-4">
            <h3 class="text-medium font-bold">
              {{ post?.heading.content }}
            </h3>
          </div>
        </div>
      </div>
      <!-- ad #2 -->
      <div class="w-full hidden md:block h-64 overflow-hidden mt-10">
        <app-advertisementView
          class="h-full w-full"
          [adPosition]="14"
        ></app-advertisementView>
      </div>
      <div class="w-full hidden md:block h-64 overflow-hidden mt-10">
        <app-advertisementView
          class="h-full w-full"
          [adPosition]="13"
        ></app-advertisementView>
      </div>
    </div>
  </div>

  <!-- recommended -->

  <div class="my-5 border-t-2">
    <section *ngIf="suggestionPost.length != 0" class="my-5">
      <h3 class="text-xl font-bold text-gray-500">Recommended</h3>

      <div class="grid md:grid-cols-3 mx-auto mt-5 gap-4">
        <ng-container *ngFor="let post of suggestionPost">
          <div class="hover:shadow-md">
            <div class="h-56 w-full bg-red-200">
              <a routerLink="/content/{{ post.postId }}">
                <img
                  class="w-full h-full object-cover"
                  [src]="mediaFilePath + post?.img?.content"
                  alt=""
                />
              </a>
            </div>

            <div class="">
              <h2 class="text-2xl font-medium mt-4">
                {{ post?.heading.content }}
              </h2>

              <p class="mt-3 hidden md:block">
                {{ post?.subHeading.content }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </div>
</main>

<app-userLogin
  (close)="showDiv()"
  (onSignup)="userSignup = true"
  *ngIf="openLogin"
></app-userLogin>
<app-userRegister (close)="userSignup = false" *ngIf="userSignup">
</app-userRegister>
<app-pop-up1 [theme]="1"></app-pop-up1>
<app-pop-up2 [theme]="1"></app-pop-up2>
<app-pop-up3 [adPosition]="12"></app-pop-up3>
