<section class="container mx-auto mb-10 md:w-[70%]">
  <!-- trending -->
  <div
    class="container md:h-96 md:flex bg-black mx-auto mt-10 rounded-md overflow-hidden grid"
  >
    <div class="w-full md:w-[60%] h-full bg-gray-500">
      <a routerLink="/content/{{ latestPost[0]?.postId }}">
        <img
          class="w-full h-full object-cover"
          [src]="mediaFilePath + latestPost[0]?.img?.content"
          alt="post image"
        />
      </a>
    </div>
    <div class="w-full md:w-[40%] h-full text-gray-500">
      <h2 class="text-gray-500 text-2xl font-bold mx-5 mt-10 md:mt-24">
        {{ latestPost[0]?.heading?.content }}
      </h2>
      <p class="p-4">
        {{ latestPost[0]?.subHeading?.content }}
      </p>
    </div>
  </div>

  <!-- latest -->
  <section class="container mx-auto">
    <h2 class="text-4xl font-medium mt-20">Latest</h2>
    <div class="grid md:grid-cols-12 mx-auto mt-5 gap-4">
      <ng-container *ngFor="let item of latestPost!; let i = index">
        <div *ngIf="i > 0" class="h-[20rem] md:col-span-4 mb-10">
          <div class="h-[75%] w-full">
            <a routerLink="/content/{{ item.postId }}">
              <img
                class="w-full h-full object-cover hover:shadow-lg hover:shadow-gray-500"
                [src]="mediaFilePath + item?.img?.content"
                alt=""
              />
            </a>
          </div>
          <div>
            <h2 class="text-2xl font-semibold mt-4">
              {{ item?.heading?.content }}
            </h2>
          </div>
        </div>
      </ng-container>
    </div>
  </section>

  <!-- editorial pick -->
  <section class="container mx-auto">
    <h2 class="text-4xl font-medium mt-20">Editorial Pick</h2>
    <div class="grid md:grid-cols-12 mx-auto mt-5 gap-4">
      <ng-container *ngFor="let item of editorialPick!; let i = index">
        <div *ngIf="i < 4" class="h-[20rem] md:col-span-4 mb-10">
          <div class="h-[75%] w-full">
            <a routerLink="/content/{{ item.postId }}">
              <img
                class="w-full h-full object-cover hover:shadow-lg hover:shadow-gray-500"
                [src]="mediaFilePath + item?.img?.content"
                alt=""
              />
            </a>
          </div>
          <div>
            <h2 class="text-2xl font-semibold mt-4">
              {{ item?.heading?.content }}
            </h2>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
  <!-- ads section -->
  <section class="container border-2 border-x-0 mx-auto mt-24 p-5">
    <div
      [ngSwitch]="randomAd?.mediaFormat"
      class="flex justify-center w-auto h-80"
    >
      <!-- image ad -->
      <ng-container *ngSwitchCase="'Advertisement_Image'">
        <a target="_blank" [href]="randomAd?.redirectTo">
          <img
            class="w-auto h-full overflow-hidden"
            [src]="mediaFilePath + randomAd?.mediaPath"
            alt=""
          />
        </a>
      </ng-container>
      <!-- video ad -->
      <ng-container *ngSwitchCase="'Advertisement_Video'">
        <a>
          <video
            class="w-full h-full"
            controls
            autoplay
            muted
            [src]="mediaFilePath + randomAd?.mediaPath"
          ></video>
        </a>
      </ng-container>
      <!-- external ad -->
      <ng-container *ngSwitchCase="'External'">
        <a>
          <p>{{ randomAd?.mediaPath }}</p>
        </a>
      </ng-container>
    </div>
  </section>

  <!-- category -->

  <section *ngFor="let item of catgoryDetailes" class="md:my-10">
    <div class="container mx-auto md:grid md:gap-5 w-full h-full md:py-16 py-8">
      <a routerLink="category/{{ item.categoryId }}"
        ><h1 class="text-4xl font-medium">{{ item.categoryName }}</h1></a
      >
      <div class="grid gap-5 md:grid-cols-3 md:gap-3">
        <div
          routerLink="/content/{{ item.categoryPost[0].postId }}"
          class="col-span-2 hover:rounded"
        >
          <img
            class="h-full w-full"
            [src]="mediaFilePath + item?.categoryPost[0]?.img?.content"
            alt=""
          />
          <h2 class="md:text-3xl text-2xl font-semibold mt-2">
            {{ item?.categoryPost[0]?.heading?.content }}
          </h2>
        </div>

        <div class="grid md:grid-cols-1 gap-5 text-justify mt-16 md:-mt-10">
          <div
            routerLink="/content/{{ post.postId }}"
            *ngFor="let post of item.categoryPost.slice(1)"
            class="flex gap-2 items-center hover:shadow-lg shadow-slate-300"
          >
            <img
              class="h-[10rem] w-[10rem]"
              [src]="mediaFilePath + post?.img?.content"
              alt=""
            />
            <h2 class="md:text-2xl text-start">{{ post?.heading?.content }}</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- ad -->
    <section class="container border-2 border-x-0 mx-auto mt-24 p-5">
      <div
        [ngSwitch]="randomAd?.mediaFormat"
        class="flex justify-center w-auto h-80"
      >
        <!-- image ad -->
        <ng-container *ngSwitchCase="'Advertisement_Image'">
          <a target="_blank" [href]="randomAd?.redirectTo">
            <img
              class="w-auto h-full overflow-hidden"
              [src]="mediaFilePath + randomAd?.mediaPath"
              alt=""
            />
          </a>
        </ng-container>
        <!-- video ad -->
        <ng-container *ngSwitchCase="'Advertisement_Video'">
          <a target="_blank" [href]="randomAd?.redirectTo">
            <video
              class="w-full h-full"
              controls
              autoplay
              muted
              [src]="mediaFilePath + randomAd?.mediaPath"
            ></video>
          </a>
        </ng-container>
        <!-- external ad -->
        <ng-container *ngSwitchCase="'External'">
          <a target="_blank" [href]="randomAd?.redirectTo">
            <p>{{ randomAd?.mediaPath }}</p>
          </a>
        </ng-container>
      </div>
    </section>
  </section>
</section>
<app-pop-up3></app-pop-up3>
