<!-- navbar -->
<nav class="w-full h-15 bg-gray-100 border-b-2 p-3 flex justify-end fixed">
  <div class="">
    <button (click)="postFeatures = !postFeatures" class="p-3">
      <i class="fa-solid fa-gear"></i>
    </button>
    <button (click)="publish()" class="bg-blue-600 text-white p-2 rounded-md">
      <span *ngIf="postId == null">Publish</span>
      <span *ngIf="postId != null">Update</span>
    </button>
  </div>
</nav>
<!-- toolbar -->
<section
  class="grid md:flex overflow-hidden mt-24 fixed h-screen w-full gap-5 p-5"
>
  <div class="block w-[30%] lg:w-[20%] p-3 h-full">
    <div class="flex md:grid gap-3 md:border-2 py-5">
      <button
        (click)="selectTool(2)"
        class="hover:bg-red-600 w-28 hover:text-white rounded-lg grid p-2"
      >
        <span><i class="fa-solid fa-heading"></i></span>
        Sub Heading
      </button>
      <button
        (click)="selectTool(3)"
        class="hover:bg-red-600 w-28 hover:text-white rounded-lg p-2 grid"
      >
        <span><i class="fa-solid fa-paragraph"></i></span>
        Paragraph
      </button>
      <button
        (click)="selectTool(4)"
        class="hover:bg-red-600 w-28 hover:text-white rounded-lg p-2 grid"
      >
        <span><i class="fa-solid fa-image"></i></span>
        Image
      </button>
      <button
        (click)="selectTool(5)"
        class="hover:bg-red-600 w-28 hover:text-white rounded-lg p-2 grid"
      >
        <span><i class="fa-solid fa-file-video"></i></span>
        video</button
      ><button
        (click)="selectTool(11)"
        class="hover:bg-red-600 w-28 hover:text-white rounded-lg p-4 grid"
      >
        <span><i class="fa-brands fa-buysellads"></i></span>
        Ads
      </button>
    </div>
  </div>
  <!-- edit page -->
  <div
    class="container mx-auto w-full h-screen overflow-y-auto pb-20 border-t-2 md:border-0"
  >
    <form [formGroup]="blogForm" *ngFor="let item of dynamicDiv; let i = index">
      <div
        [ngStyle]="{ 'font-family': postFont }"
        class="pb-20 w-[80%] container mx-auto"
      >
        <ng-container [ngSwitch]="item.type">
          <ng-container *ngSwitchCase="1">
            <textarea
              (click)="sectionId = i"
              class="outline-none w-[80%] text-4xl"
              [formControl]="item.content"
              placeholder="Blog Title..."
            ></textarea>
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
          <!-- For heading type -->
          <ng-container *ngSwitchCase="2">
            <textarea
              (click)="sectionId = i"
              class="outline-none w-full text-2xl"
              [formControl]="item.content"
              placeholder="Write your Sub heading"
            ></textarea>
            <author-toolbar
              (select)="addBlock($event)"
              (delete)="deleteBlock()"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
          <!-- For paragraph type -->
          <ng-container *ngSwitchCase="3">
            <editor
              [init]="editorConfig"
              [ngStyle]="{ 'font-family': postFont }"
              (click)="sectionId = i"
              placeholder="write your paragraph"
              [formControl]="item.content"
            ></editor>
            <!-- <author-text-Toolbar
              *ngIf="sectionId == i && TextToolBar"
              (boldSelected)="onTextSelected($event)"
              (sendUrl)="getUrl($event)"
              [text]="selectedTextarea"
            ></author-text-Toolbar>
            <textarea
              #myTextarea
              (mouseup)="getSelectedWord($event)"
              (click)="sectionId = i"
              rows="10"
              cols="80"
              class="outline-none full"
              [formControl]="item.content"
              placeholder="write your paragraph"
            ></textarea> -->
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>

          <ng-container *ngSwitchCase="4">
            <label
              (click)="Selected(i, 4)"
              class="text-white bg-blue-600 p-2"
              for="image"
              >Upload image</label
            >
            <input
              (change)="onFileSelected($event)"
              #image
              class="outline-none"
              type="file"
              id="image"
              hidden="true"
              [formControl]="item.content"
              placeholder="upload image"
            />
            <div>
              <div class="mt-3 overflow-auto">
                <img
                  (click)="Selected(i, 4)"
                  class="aspect-{{
                    item.sectionAttributes[findIndex(6, i)]?.value
                  }} object-{{
                    item.sectionAttributes[findIndex(7, i)]?.value
                  }} "
                  [src]="mediaFilePath + item?.dataURL"
                  alt=""
                  [ngStyle]="
                    getImageStyle(
                      item.sectionAttributes[findIndex(1, i)]?.value,
                      item.sectionAttributes[findIndex(2, i)]?.value
                    )
                  "
                />
              </div>
            </div>
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>

          <ng-container *ngSwitchCase="5">
            <label
              (click)="Selected(i, 5)"
              class="text-white bg-blue-600 p-2"
              for="video"
              >Upload a video</label
            >
            <input
              (change)="onFileSelected($event)"
              id="video"
              hidden="true"
              #video
              class="outline-none"
              type="file"
              [formControl]="item.content"
            />
            <div>
              <video
                (click)="Selected(i, 5)"
                controls
                autoplay
                class="aspect-{{
                  item.sectionAttributes[findIndex(6, i)]?.value
                }} object-{{
                  item.sectionAttributes[findIndex(7, i)]?.value
                }} "
                [src]="mediaFilePath + item?.dataURL"
                alt=""
                [ngStyle]="
                  getImageStyle(
                    item.sectionAttributes[findIndex(1, i)]?.value,
                    item.sectionAttributes[findIndex(2, i)]?.value
                  )
                "
              ></video>
            </div>
            <div class="flex w-full absolute ml-32">
              <div class="flex items-center pointer-events-none pl-10">
                <div
                  class="animate-spin inline-block w-8 h-8 border-[3px] border-current border-t-transparent text-red-900 rounded-full"
                  role="status"
                  aria-label="loading"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <p class="m-3 italic bold text-black text-xl font-bold">
                Uploading...
              </p>
            </div>
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
          <ng-container *ngSwitchCase="11">
            <div (click)="Selected(i, 11)" class="border-2 p-3">
              <p class="text-blue-600 text-center">Choose Your Ad Type</p>
              <div class="flex justify-between mt-10 w-[80%] container mx-auto">
                <button
                  class="p-2 border-2 hover:text-white rounded-lg hover:bg-blue-600"
                  (click)="chooseAdType(9)"
                >
                  Dynamic Ads
                </button>
                <button
                  class="p-2 border-2 hover:text-white rounded-lg hover:bg-blue-600"
                  (click)="chooseAdType(6)"
                >
                  Image
                </button>
                <button
                  class="p-2 border-2 hover:text-white rounded-lg hover:bg-blue-600"
                  (click)="chooseAdType(7)"
                >
                  Video
                </button>
                <button
                  class="p-2 border-2 hover:text-white rounded-lg hover:bg-blue-600"
                  (click)="chooseAdType(8)"
                >
                  External Link
                </button>
              </div>
            </div>
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
          <ng-container *ngSwitchCase="6">
            <label
              (click)="Selected(i, 6)"
              class="text-white bg-blue-600 p-2"
              for="image"
              >Upload Ad</label
            >
            <input
              (change)="onFileSelected($event)"
              #image
              class="outline-none"
              type="file"
              id="image"
              hidden="true"
              [formControl]="item.content"
              placeholder="upload image"
            />
            <div>
              <div class="w-[80%] h-[250px] mt-3 overflow-hidden">
                <img
                  (click)="Selected(i, 6)"
                  class="h-full w-full aspect-square"
                  [src]="mediaFilePath + item?.dataURL"
                  alt=""
                />
              </div>
            </div>
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
          <ng-container *ngSwitchCase="7">
            <label
              (click)="Selected(i, 7)"
              class="text-white bg-blue-600 p-2"
              for="image"
              >Upload Ad</label
            >
            <input
              (change)="onFileSelected($event)"
              #image
              class="outline-none"
              type="file"
              id="image"
              hidden="true"
              [formControl]="item.content"
              placeholder="upload image"
            />
            <div>
              <div class="w-[80%] h-[250px] mt-3 overflow-hidden">
                <video
                  (click)="Selected(i, 7)"
                  controls
                  autoplay
                  class="w-[80%] h-[400px] border mt-3"
                  [src]="mediaFilePath + item?.dataURL"
                  alt=""
                ></video>
              </div>
            </div>
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
          <ng-container *ngSwitchCase="8">
            <input
              [formControl]="item.content"
              placeholder="paste your Ad Link"
              class="p-2 border-2 outline-blue-600"
              type="text"
            />
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
          <ng-container *ngSwitchCase="9">
            <div
            (click)="Selected(i, 9)"
            class="w-full p-3 border-2">
            <p>Dynamic ads</p>
          </div>
            <author-toolbar
              (delete)="deleteBlock()"
              (select)="addBlock($event)"
              [index]="sectionId"
              *ngIf="sectionId == i"
            ></author-toolbar>
          </ng-container>
        </ng-container>
      </div>
      <div class="h-full w-full">
        <author-addPostSettings
          *ngIf="
            mediaToolBar &&
            (currentTool == 4 ||
              currentTool == 5 ||
              currentTool == 6 ||
              currentTool == 7 ||
              currentTool == 8)
          "
          [currentBlock]="currentTool"
          [currentSettings]="dynamicDiv[sectionId].sectionAttributes"
          (changeSettings)="changeImgSetings($event)"
          (sendURL)="setImageUrl($event)"
          (onChange)="closeModal()"
          [mediaType]="currentTool"
        ></author-addPostSettings>
      </div>
    </form>
  </div>
  <author-postFeatures

    (createPost)="getPostFeatures($event)"
    [hidden]="!postFeatures"
  ></author-postFeatures>
</section>
<!-- <author-loading class="w-full" *ngIf="loading"></author-loading> -->
