<div
  *ngIf="shoePopPu"
  [@slideFromBottom]
  class="md:h-36 h-48 bg-black/90 shadow-lg w-screen -bottom-48 mb-48 fixed p-4"
>
  <div class="flex justify-end p-2">
    <button (click)="shoePopPu = false">
      <i class="fa-regular fa-circle-xmark text-white"></i>
    </button>
  </div>


    <section>
      <ng-container
        [ngSwitch]="getMediaType(advertisement?.media?.mediaFormat)"
      >
        <div class="h-48 w-full" *ngSwitchCase="'image'">
          <img
            [src]="mediaFilePath + advertisement?.media?.mediaPath"
            class="w-full h-full object-cover"
          />
        </div>

        <div class="h-48 w-full" *ngSwitchCase="'video'">
          <video
            [src]="mediaFilePath + advertisement?.media?.mediaPath"
            class="w-full h-full object-cover"
            controls
          ></video>
        </div>

        <p
          *ngSwitchDefault
          class="text-lg font-semibold px-2 py-2 text-justify"
        >
          {{ advertisement?.media?.mediaPath }}
        </p>
      </ng-container>
    </section>

</div>
