<section class="container h-screen pt-14 px-28 mx-auto">
  <div class="border-2 border-gray-200 p-5 pb-36">
    <div
      (click)="showUpolodtemp()"
      class="w-48 h-48 col-span-3 border-2 rounded-full mx-auto overflow-hidden"
    >
      <img
        *ngIf="!profileDetailes?.profilePicturePath"
        class="h-full w-full overflow-hidden"
        src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg"
        alt=""
      />

      <img
        *ngIf="profileDetailes?.profilePicturePath"
        [src]="mediaFilePath + profileDetailes?.profilePicturePath"
        alt="profile picture"
        class="w-full h-full object-cover"
      />
    </div>

    <button
      type="button"
      (click)="edit()"
      title="edit"
      class="p-4 py-2 rounded hover:bg-slate-200 float-right mr-14"
    >
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
    <!-- normal form -->
    <form
      *ngIf="!editOn"
      [formGroup]="editForm"
      class="bg-white pt-5 px-36 rounded-lg w-full center"
    >
      <div class="grid grid-row-3 gap-2 mb-2 w-full">
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600"
            >First Name :</label
          >
          <input
            formControlName="first_name"
            type="text"
            class="border-2 rounded p-2 outline-none"
            readonly
          />
        </div>
        <div
          *ngIf="
            editForm.controls['middle_name'].value != null &&
            editForm.controls['middle_name'].value != ''
          "
          class="grid grid-row-2 gap-2"
        >
          <label class="font-medium text-base text-stone-600"
            >Middle Name :</label
          >

          <input
            formControlName="middle_name"
            type="text"
            class="border-2 rounded p-2 outline-none"
            readonly
          />
        </div>
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600"
            >Last Name :</label
          >

          <input
            formControlName="last_name"
            type="text"
            class="border-2 rounded p-2 outline-none"
            [ngClass]="{
                    'border-red-400 ':editForm.controls['last_name'].errors?.['required']&&editForm.controls['last_name'].touched
                  }"
            readonly
          />
        </div>
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600">Email :</label>
          <input
            formControlName="email"
            type="text"
            name=""
            id=""
            class="border-2 rounded p-2 outline-none"
            readonly
          />
        </div>
        <div
          *ngIf="
            editForm.controls['aboutUser'].value != null &&
            editForm.controls['aboutUser'].value != ''
          "
          class="grid grid-row-2 gap-2"
        >
          <label class="font-medium text-base text-stone-600">About :</label>
          <input
            formControlName="aboutUser"
            type="text"
            name=""
            id=""
            class="border-2 rounded p-2 outline-none"
            readonly
          />
        </div>
      </div>
    </form>
    <!-- edit form -->
    <form
      *ngIf="editOn"
      [formGroup]="editForm"
      class="bg-white pt-5 px-36 rounded-lg w-full center"
    >
      <div class="grid grid-row-5 gap-2 mb-2 w-full">
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600"
            >First Name :</label
          >
          <input
            formControlName="first_name"
            type="text"
            class="border-2 border-green-500 rounded p-2"
            [ngClass]="{
                  'border-red-400 ':editForm.controls['first_name'].errors?.['required']&&editForm.controls['first_name'].touched
                }"
          />
        </div>
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600"
            >Middle Name :</label
          >

          <input
            formControlName="middle_name"
            type="text"
            class="border-2 rounded p-2"
            [ngClass]="{
              'border-green-500 ':
                editForm.controls['middle_name'].touched ||
                editForm.controls['middle_name'].value != ''
            }"
          />
        </div>
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600"
            >Last Name :</label
          >

          <input
            formControlName="last_name"
            type="text"
            class="border-2 border-green-500 rounded p-2"
            [ngClass]="{
                  'border-red-400 ':editForm.controls['last_name'].errors?.['required']&&editForm.controls['last_name'].touched
                }"
          />
        </div>
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600">Email :</label>
          <input
            formControlName="email"
            type="text"
            name=""
            id=""
            class="border-2 rounded p-2 outline-none"
            readonly
          />
        </div>
        <div class="grid grid-row-2 gap-2">
          <label class="font-medium text-base text-stone-600">About :</label>

          <input
            formControlName="aboutUser"
            type="text"
            class="border-2 border-green-500 rounded p-2"
            [ngClass]="{
                  'border-red-400 ':editForm.controls['aboutUser'].errors?.['required']&&editForm.controls['aboutUser'].touched
                }"
          />
        </div>

        <button
          (click)="update()"
          class="px-4 py-2 bg-green-500 hover:bg-green-400 mx-auto text-white rounded mt-5"
        >
          Save
        </button>
        <div>
          <button
            (click)="editPassword = !editPassword"
            class="bg-blue-600 text-white p-2 rounded-xl mt-5"
          >
            Edit Password
          </button>
        </div>
        <div *ngIf="editPassword">
          <div class="grid grid-row-2 gap-2">
            <label class="font-medium text-base text-stone-600"
              >Current Password :</label
            >
            <input
              formControlName="password"
              type="text"
              name=""
              id=""
              class="border-2 rounded p-2"
              [ngClass]="{
                'border-red-400 ':
                  editForm.controls['password'].value == '' &&
                  editForm.controls['password'].touched,
                'border-green-500 ': editForm.controls['password'].touched
              }"
            />
          </div>
          <div class="grid grid-row-2 gap-2">
            <label class="font-medium text-base text-stone-600"
              >New Password :</label
            >
            <input
              formControlName="new_password"
              type="text"
              name=""
              id=""
              class="border-2 rounded p-2"
              [ngClass]="{
                    'border-red-400 ':editForm.controls['new_password'].errors?.['required']&&editForm.controls['new_password'].touched,
                    'border-green-500 ':editForm.controls['new_password'].touched
                  }"
            />
          </div>
          <div class="grid grid-row-2 gap-2">
            <label class="font-medium text-base text-stone-600"
              >Confirm Password :</label
            >
            <input
              formControlName="confirm_password"
              type="text"
              name=""
              id=""
              class="border-2 rounded p-2 outline-none"
              [ngClass]="{
                'border-red-400':
                  editForm.controls['confirm_password'].value !=
                  editForm.controls['new_password'].value&&editForm.controls['new_password'].touched,
                'border-green-500':
                  editForm.controls['confirm_password'].value ===
                  editForm.controls['new_password'].value&& editForm.controls['new_password'].touched,
              }"
            />
          </div>
          <button
            (click)="updatePassword()"
            class="px-4 py-2 flex justify-center bg-green-500 hover:bg-green-400 mx-auto text-white rounded mt-5"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- profile image -->
  <section
    *ngIf="picShowDiv"
    class="bg-black/80 fixed top-0 bottom-0 left-0 right-0 h-screen p-5 z-50 overflow-scroll"
  >
    <div class="bg-white rounded-lg shadow-xl w-[40em] mx-auto my-auto mt-[2%]">
      <div class="flex item-center justify-between px-5 py-3 border-b-[1px]">
        <div>
          <h1 class="font-bold text-xl font">Upload Profle Picture</h1>
        </div>
        <button (click)="unshowUpolodtemp()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="arcs"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>

      <div class="grid grid-rows-2 gap-2 p-20 px-[15em]" *ngIf="picUpload">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="120"
          height="120"
          viewBox="0 0 24 24"
          class="ml-7"
        >
          <path
            d="M18 10v13h-18v-13h18zm-13 2h-3v2h3v-2zm11 5c0-2.209-1.791-4-4-4s-4 1.791-4 4 1.791 4 4 4 4-1.791 4-4zm-4-2c-1.104 0-2 .897-2 2s.896 2 2 2 2-.897 2-2-.896-2-2-2zm-5.314-7l1.615-4.437 13.154 4.789-1.455 4v5.848l4-11.042-16.895-6.158-2.548 7h2.129z"
          />
        </svg>

        <div class="">
          <label
            class="bg-blue-500 p-2 w-full text-center rounded font-medium text-white text-sm"
          >
            <span> select from computer</span>

            <input
              type="file"
              id="file"
              hidden="true"
              (change)="fileImport($event)"
            />
          </label>
        </div>
      </div>

      <div
        *ngIf="!picUpload"
        class="grid grid-row-2 gap-4 pb-7 mt-10 mx-auto w-72"
      >
        <img [src]="selectedPic" alt="" />

        <button
          (click)="updateProfilePicture()"
          class="bg-blue-500 px-3 py-2 mx-5 rounded hover:bg-blue-600 text-white"
        >
          Upload
        </button>
      </div>
    </div>
  </section>
</section>
