<section class="container h-auto w-full md:w-3.5/4 mx-auto">
  <!-- <div class="pt-4 pl-4 pr-4 pb-4 w-[80%] h-auto">
        <div class="w-full h-96 overflow-hidden">
            <img src="https://www.holidify.com/images/cmsuploads/compressed/shutterstock_649541308_20191010160155.png"
            class="w-full h-full  object-cover">
        </div>
        <div class="">
            <h1 class="uppercase text-5xl font-bold ">Food</h1>
        </div>

    </div> -->
  <div class="md:flex grid">
    <div class="pt-4 pl-6 pr-4 pb-4 md:w-[90%] w-full">
      <div class="w-full h-auto bg-gray-700/50 grid md:flex">
        <div class="md:w-[70%] w-full h-full overflow-hidden">
          <img
            [src]="'http://192.168.29.97:5296/assets/' + categoryCoverPic"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="px-4 py-8 md:w-[30%]">
          <h1 class="uppercase text-5xl text-white ml-5 font-thin">
            {{ categoryName }}
          </h1>
          <p class="text-start text-xl mt-7 font-serif">
            Here you can view all the blogs of {{ subCategoryName }} subcategory
            of {{ categoryName }} category
          </p>
        </div>
      </div>

      <!-- subcategories -->

      <div class="mt-24 h-auto w-full">
        <h1 class="font-serif text-4xl pb-3">{{ subCategoryName }}</h1>
        <div
          *ngIf="subcategoryPost == ''"
          class="container text-center text-gray-400 text-lg py-5"
        >
          No Blog avaliable in this Sub-category
        </div>
        <div
          class="mt-4 md:flex w-full grid border-2"
          *ngFor="let post of subcategoryPost"
        >
          <div
            class="md:w-[45%] h-full py-2 overflow-hidden"
            routerLink="/Theme2/{{ post.postId }}"
          >
            <img
              [src]="'http://192.168.29.97:5296/assets/' + post?.img?.content"
              class="w-full h-full object-cover"
            />
          </div>
          <div class="md:w-[55%] pt-7 pl-7 pr-4 pb-4">
            <div class="flex" (click)="navigateToUserProfile(post?.authorId)">
              <div class="w-12 h-12 rounded-full overflow-hidden">
                <img
                  class="h-full w-full overflow-hidden"
                  [src]="
                    'http://192.168.29.97:5296/assets/' + post?.profilePicture
                  "
                  alt=""
                />
              </div>
              <div class="ml-3">
                <h1 class="text-gray-700 font-semibold text-base">
                  {{ post.fullName }}
                </h1>
                <p class="text-sm text-gray-400">
                  {{ post.createdAt | date : "MMM d, y, h:mm a" }}
                </p>
              </div>
            </div>

            <div
              class="mt-5 pb-20 border-b-2"
              routerLink="/Theme2/content/{{ post.postId }}"
            >
              <h1 class="text-3xl font-semibold font-sans">
                {{ post?.heading?.content }}
              </h1>
              <p class="text-lg mt-4 text-start">
                {{ post?.subHeading?.content }}
              </p>
            </div>
            <div
              class="mt-4 flex justify-between"
              routerLink="/Theme2/content/{{ post.postId }}"
            >
              <p class="text-gray-400 font-normal text-sm">
                {{ post.viewCount }} views
              </p>
              <p class="text-gray-400 font-normal text-sm">
                {{ post.commentsCount }} comments
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-[70%] pt-4 pb-4">
        <h1
          class="uppercase text-2xl font-serif mt-8 pb-2 border-b-2 border-yellow-400"
        >
          The latest
        </h1>
        <div
          class="border-y-2 mt-5 flex p-4"
          *ngFor="let item of latestPost"
          routerLink="/Theme2/content/{{ item.postId }}"
        >
          <div class="md:w-[500px] md:h-[30%] overflow-hidden">
            <img
              [src]="'http://192.168.29.97:5296/assets/' + item?.img?.content"
              class="w-full h-full object-cover"
            />
          </div>
          <div class="ml-3">
            <h1 class="font-bold text-xl text-start">
              {{ item?.heading?.content }}
            </h1>
            <p class="mt-2 text-gray-500">By {{ item.fullName }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="md:w-[30%] pt-4 pl-4 pr-4 pb-4">
      <div class="mt-60 border-y-2 border-yellow-400 pb-4 pt-4">
        <img
          src="https://www.businessinsider.in/photo/75180309/dunzo-pays-an-ode-to-some-classic-ads-to-connect-with-the-90s-kids.jpg?imgsize=295291"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="mt-10">
        <h1 class="text-xl font-serif border-b-2 pb-2">Most Read</h1>
        <div
          class="mt-3 flex border-b-2 pb-2"
          *ngFor="let item of latest"
          routerLink="/Theme2/content/{{ item.postId }}"
        >
          <h1 class="text-2xl font-bold text-gray-600">{{ item.id }}</h1>
          <p class="text-lg font-bold ml-4">{{ item?.heading?.content }}</p>
        </div>
        <div
          class="w-[80%] h-[80%] mt-32 border-y-2 border-yellow-400 pb-4 pt-4"
          *ngFor="let item of [1, 2, 3]"
        >
          <img
            src="https://izispicy.com/old-img/img10/20170926/640/some_ads_will_stay_in_our_memories_forever_640_05.jpg"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
