<footer class="w-full h-36 bg-black">
  <section class="container mx-auto w-full h-24 flex justify-around">
    <div class="mt-8 text-gray-500 text-xl container">
      <h1 class="uppercase text-white">{{ siteName }}</h1>
      <p class="text-sm mb-2">© 2023 Copyright</p>
      <a
        class=""
        href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjkyNjczMjkwLCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D"
        ><i class="fa-brands fa-facebook"></i
      ></a>

      <a class="ml-5" href="https://www.instagram.com/accounts/login/"
        ><i class="fa-brands fa-instagram"></i
      ></a>

      <a class="ml-5" href="https://www.youtube.com/"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
  </section>
</footer>
