<footer class="w-full h-36 bg-black">
  <section class="container mx-auto w-full h-24 pt-5">
    <div
      class="md:mt-8 flex px-2 items-center justify-between text-gray-500 text-xl container"
    >
      <!-- site name and logo -->
      <div class="flex items-center gap-2">
        <div
          routerLink=""
          class="w-10 h-10 bg-gray-400 rounded-full overflow-hidden"
        >
          <img
            class="h-full w-full overflow-hidden"
            [src]="mediaFilePath + siteLogo"
            alt=""
          />
        </div>
        <h1 class="uppercase text-white">{{ siteName }}</h1>
      </div>

      <!--  -->
      <div>
        <p class="text-sm mb-2">© 2023 Copyright {{ siteName }}</p>
        <a class="" [href]="facebook?.settingValue"
          ><i class="fa-brands fa-facebook"></i
        ></a>

        <a class="ml-5" [href]="instagram?.settingValue"
          ><i class="fa-brands fa-instagram"></i
        ></a>

        <a class="ml-5" [href]="youtube?.settingValue"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </div>
    </div>
  </section>
</footer>
