<section class="pt-4 pb-4 pl-4 pr-4 margin-0">
  <div class="grid md:grid-cols-3 gap-3 mt-4">
    <div
      class="h-[500px] rounded-lg border-2"
      *ngFor="let item of mediaItems"
    >
      <div class="w-full h-[60%] overflow-hidden">
        <ng-container [ngSwitch]="getMediaType(item?.media?.mediaFormat)">
          <img
            *ngSwitchCase="'image'"
            [src]="
              'http://192.168.29.97:5296/api/assets/' + item?.media?.mediaPath
            "
            class="w-full h-full object-contain"
          />

          <video
            *ngSwitchCase="'video'"
            [src]="
              'http://192.168.29.97:5296/api/assets/' + item?.media?.mediaPath
            "
            class="w-full h-full"
            controls
          ></video>
          <div 
        
         *ngSwitchDefault class="flex justify-center px-2 py-2  w-full"
         [innerHtml]="item?.media?.mediaPath">
      
      </div>
        </ng-container>
      </div>
      <div class=" p-2 grid" >
        <p class="text-lg font-semibold">
          Zone : <b>#{{ item?.advertisementNo }}</b>
        </p>
        <div class="flex items-center gap-5 w-36">
         
            <a
            href="{{ item?.media?.redirectTo }}"
            class="text-black text-sm hover:underline hover:text-blue-500"
            >{{ item?.media?.redirectTo }}
          </a>
          <div class="">
            <button
              (click)="openResetPath(item)"
              class="text-2xl text-blue-500 font-semibold flex items-center"
            >
              <span class="mr-2"
                ><i class="fa-regular fa-pen-to-square"></i
              ></span>
            </button>
          </div>
        
        </div>
    
      </div>
    </div>
  </div>
  <div *ngIf="isAdmediaPath" class="">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-50 flex items-center justify-center"
    >
      <div class="bg-white w-[700px] p-4 rounded-md shadow-lg">
        <h2 class="text-xl font-bold mb-4">Reset Path</h2>
        <div class="mb-4" *ngIf="mediaPath">
          <label class="block text-sm font-medium text-gray-700"
            >Existing Path:</label
          >

          <div
            class="mt-2 h-16 w-full px-3 py-2 border rounded-md text-justify"
          >
            <p class="text-lg font-semibold">{{ mediaPath }}</p>
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700"
            >New Path:</label
          >

          <div class="mt-2 h-16">
            <input
              type="text"
              class="w-full h-full px-3 py-2 border rounded-md text-justify"
              [(ngModel)]="newPath"
              name="newPath"
              placeholder="Enter new Path"
            />
          </div>
        </div>
        <div class="flex justify-end">
          <button
            (click)="isAdmediaPath = false"
            type="button"
            class="px-6 py-6 bg-gray-200 text-gray-700 rounded-md mr-2"
          >
            Close
          </button>
          <button
            (click)="addPath()"
            type="button"
            class="px-6 py-6 bg-blue-500 text-white rounded-md"
          >
            Reset Path
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
