<footer class="w-full h-auto margin-0 padding-0 bg-gray-500">
    <div id="footer" class="flex justify-evenly w-screen max-h-[12rem]">
<div class="px-4 py-2">
    <h1 class="text-white font-normal text-xl pt-6 pb-3 border-b-2 ">Quick Links</h1>
<nav class="flex flex-col pt-3">
    <a routerLink="" class="px-4 font-normal text-white">Home</a>
    <a routerLink="" class="px-4 font-normal text-white">About</a>

    <a routerLink="" class="px-4 font-normal  text-white">News</a>
    <a routerLink="" class="px-4 font-normal  text-white">Contact</a>
</nav>

</div>
<div class="px-4 py-2">
    <h1 class="text-white font-normal text-xl pt-6 pb-3 border-b-2 ">News</h1>
    <a routerLink="" class="text-white font-medium  py-5">This is test</a>
    <p class="text-gray-800 text-sm">Just a test news ...</p>
</div>

<div class="px-4 py-2">
    <h1 class="text-white font-normal text-xl pt-6 pb-3 border-b-2 ">Connect with us</h1>
    
</div>
</div>

<div class="text-center">
    <p>&copy; 2023 - All Rights Reserved</p>
</div>
</footer>












