<section
  class="bg-black/80 fixed top-0 bottom-0 left-0 right-0 h-screen p-5 z-50 overflow-y-hidden py-10"
>
  <div
    class="container flex bg-white rounded-lg h-full shadow-xl w-[90%] mx-auto"
  >
    <!-- post -->
    <div class="h-full w-2/3 overflow-y-auto border-r-2">
      <div class="h-10 bg-slate-200 p-2">
        <h3 class="text-lg font-semibold">Post</h3>
      </div>
      <!-- content -->

      <div class="container mx-auto w-[80%] my-5">
        <p class="text-red-500 font-bold text-xl">
          {{ post.category?.categoryName }}
        </p>
        <div *ngFor="let postItem of post.postSections" class="w-full">
          <ng-container [ngSwitch]="postItem.sectionTypeId">
            <ng-container *ngSwitchCase="1"
              ><h1 class="text-4xl font-extrabold mb-4">
                {{ postItem.content }}
              </h1></ng-container
            >
            <ng-container *ngSwitchCase="2"
              ><h2 class="text-lg font-semibold my-5">
                {{ postItem.content }}
              </h2></ng-container
            >

            <ng-container *ngSwitchCase="3"
              ><p class="my-5 text-[20px] text-gray-600 text-justify">
                <markdown>
                  {{ postItem.content |formatLinks }}

                </markdown>
                
              </p></ng-container
            >

            <ng-container *ngSwitchCase="4"
              ><img
                [src]="'http://192.168.29.97:5296/assets/' + postItem.content"
            /></ng-container>
            <ng-container *ngSwitchCase="5"
              ><video [src]="postItem.content"></video
            ></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- comments -->
    <div class="h-full w-1/3">
      <div class="flex justify-between h-10 bg-slate-200 p-2">
        <h3 class="text-lg font-semibold">Comments</h3>
        <button (click)="unshowBox()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="arcs"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>
      <div class="h-[85%] overflow-y-auto p-3">
        <!-- whole comment -->
        <ng-container *ngFor="let item of comments">
          <ng-container *ngFor="let item2 of item">
            <div
              *ngIf="item2.parentId === null && item2.commentStatus"
              class="p-3 border-b-2 pb-2"
            >
              <p class="text-lg font-bold">
                {{ item2.author.firstName }} {{ item2.author.lastName }}
              </p>
              <p class="text-xs text-gray-400">{{ item2.createdAt | date }}</p>
              <p class="text-sm">
                {{ item2.content }}
              </p>

              <div class="flex gap-5">
                <button (click)="replyBox(item2)" class="text-blue-500">
                  Reply
                </button>
                <div>
                  <button
                    [id]="item2.id"
                    #commentOpen
                    (click)="viewReplyBox(commentOpen.id, item)"
                    class="text-blue-500"
                  >
                    <i class="fa-solid fa-chevron-down"></i> replies
                  </button>
                </div>
              </div>
              <!-- replay comments view -->
              <div
                *ngIf="commentOpen.id == commentboxId && viewRelpayComments"
                class="w-full h-36 overflow-y-auto my-5 p-4"
              >
                <ng-container
                  *ngFor="let replayComment of replayCommentData"
                  class="mb-5"
                >
                  <div class="flex gap-4 items-center">
                    <p class="text-base font-semibold">
                      {{ replayComment.author.firstName }}
                      {{ replayComment.author.lastName }}
                    </p>
                    <p class="text-xs text-gray-400">
                      {{ replayComment.createdAt | date }}
                    </p>
                  </div>
                  <p class="text-base">
                    <span class="lowercase text-blue-500 text-sm"
                      >@ {{ replayComment.parentAuthor }}</span
                    >
                    {{ replayComment.content }}
                  </p>
                  <button
                    (click)="replyBox(replayComment)"
                    class="text-blue-500 text-sm"
                  >
                    Reply
                  </button>
                </ng-container>
              </div>
              <!--  -->
            </div>
          </ng-container>
        </ng-container>
      </div>
      <!-- sending comments -->
      <form
        [formGroup]="commentForm"
        *ngIf="replayInputBox"
        class="relative grid grid-cols-12 gap-5 w-full p-4"
      >
        <input
          formControlName="comment"
          class="col-span-10 border-2 rounded p-2"
          type="text "
          [placeholder]="parentCommentAuthor"
        />
        <button
          (click)="sendReply()"
          class="col-span-2 text-white w-full bg-green-500 rounded px-2"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</section>
