<section class="container mx-auto w-[70%]">
  <div class="flex justify-between mt-10">
    <div>
      <h1 class="text-2xl text-black font-semibold">Posts</h1>
      <p class="text-sm text-black font-light">Manage your posts</p>
    </div>
    <a
      routerLink="/admin/newPost"
      class="bg-blue-600 p-2 text-white font-semibold rounded-md hover:shadow-xl"
    >
      <i class="fa-solid fa-plus"></i>Add new post
    </a>
  </div>
  <div class="mt-10 flex bg-gray-200">
    <a
      routerLinkActive="active-post-nav"
      routerLink="published"
      [routerLinkActiveOptions]="{ exact: true }"
      class="post-nav"
      >Published
      <span class="bg-blue-700 text-white px-2 py-1 rounded-full">{{
        publishCount
      }}</span></a
    >
    <a routerLinkActive="active-post-nav" routerLink="drafts" class="post-nav"
      >Drafts
      <span class="bg-blue-700 text-white px-2 py-1 rounded-full">{{
        draftCount
      }}</span></a
    >
    <a routerLinkActive="active-post-nav" routerLink="trashed" class="post-nav"
      >Trashed
      <span class="bg-blue-700 text-white px-2 py-1 rounded-full">{{
        trashCount
      }}</span></a
    >
    <a
      routerLinkActive="active-post-nav"
      routerLink="Editor-pick"
      class="post-nav"
      >Editor's pick
      <span class="bg-blue-700 text-white px-2 py-1 rounded-full">{{
        editorsPick
      }}</span></a
    >
  </div>
  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</section>
