<section class="container mx-auto w-[70%]">
  <div class="flex justify-between mt-10">
    <div>
      <h1 class="text-2xl text-black font-semibold">Posts</h1>
      <p class="text-sm text-black font-light">Manage your posts</p>
    </div>
    <a
    routerLink="/newPost"
      class="bg-blue-600 p-2 text-white font-semibold rounded-md hover:shadow-xl"
    >
      <i class="fa-solid fa-plus"></i>Add new post
  </a>
  </div>
  <div class="mt-10 flex border-2 bg-gray-200">
    <a
      routerLinkActive="active-post-nav"
      routerLink="published"
      class="post-nav"
      >Published(0)</a
    >
    <a routerLinkActive="active-post-nav" routerLink="drafts" class="post-nav"
      >Drafts (0)</a
    >
    <a routerLinkActive="active-post-nav" routerLink="trashed" class="post-nav"
      >Trashed (0)</a
    >
  </div>
  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</section>
