@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .admin-navbar {
    @apply mb-5 hover:bg-red-600 p-3 hover:text-white;
  }
  .admin-login {
    background-image: url("https://images.pexels.com/photos/399160/pexels-photo-399160.jpeg");
  }
  .post-nav {
    @apply p-6 hover:bg-white;
  }
  .active-post-nav {
    @apply border-b-black border-2 text-blue-600;
  }

  .media-box {
    @apply w-44 h-96 bg-red-400;
  }
  .external-link {
    @apply text-blue-600 underline;
  }
}

.linkcss {
color: blue;
text-decoration: underline;
}




