<section class="h-screen bg-white shadow-2xl w-[20rem]">
  <div class="flex items-center gap-3 border-b-2 pb-5 px-5 pt-3">
    <a routerLink="profile" [queryParams]="{ id: data?.id }">
      <div class="w-16 h-16 bg-gray-400 rounded-full overflow-hidden">
        <img
          *ngIf="data?.profilePicturePath == null"
          class="h-full w-full overflow-hidden"
          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg"
          alt=""
        />

        <img
          *ngIf="data?.profilePicturePath"
          class="h-full w-full overflow-hidden"
          [src]="mediaFilePath + data?.profilePicturePath"
          alt=""
        />
      </div>
    </a>

    <div>
      <p class="text-black font-medium">{{ data?.firstName }}</p>
      <p class="text-black font-medium">{{ data?.email }}</p>
    </div>
    <button (click)="closeNavbar()" class="md:hidden ml-36">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <nav class="text-black">
    <ul (click)="closeNavbar()" class="text-xl font-medium px-3">
      <a routerLink="/admin"
        ><li class="admin-navbar">
          <i class="fa-solid fa-house mr-3"></i>Home
        </li></a
      >
      <a routerLink="posts/published"
        ><li class="admin-navbar">
          <i class="fa-solid fa-file-pen mr-3"></i>Posts
        </li></a
      >
      <a routerLink="users/active-users"
        ><li class="admin-navbar">
          <i class="fa-solid fa-user mr-3"></i>
          Users
        </li></a
      >
      <a routerLink="admin-comments/comments"
        ><li class="admin-navbar">
          <i class="fa-solid fa-comment mr-3"></i>Comments
        </li></a
      >
      <a routerLink="admin-messages/admin-all-messages"
        ><li class="admin-navbar">
          <i class="fa-solid fa-envelope mr-3"></i> Messages
        </li></a
      >
      <a routerLink="themes"
        ><li class="admin-navbar">
          <i class="fa-solid fa-brush mr-3"></i>Themes
        </li></a
      >
      <a routerLink="ads-Settings/adsection"
      ><li class="admin-navbar">
        <i class="fa-brands fa-adversal mr-3"></i>Advertisement
      </li></a
    >

      <a routerLink="settings"
        ><li class="admin-navbar">
          <i class="fa-solid fa-gear mr-3"></i>Settings
        </li></a
      >
    </ul>
  </nav>
  <div class="p-6 absolute bottom-0">
    <a class="text-xl text-red-500 cursor-pointer" (click)="logOut()"
      ><i class="fa-solid fa-right-from-bracket"></i> LogOut</a
    >
  </div>
</section>
