<section class="h-screen bg-gray-800">
  <div class="flex items-center gap-3 border-b-2 pb-5 px-5 pt-3">
    <div class="w-16 h-16 bg-gray-400 rounded-full overflow-hidden">
      <img src="" alt="" />
    </div>
    <div>
      <p class="text-white font-semibold">username</p>
    </div>
  </div>
  <nav class="p-6 text-gray-300">
    <ul class="text-xl font-semibold">
      <li class="admin-navbar">
        <a routerLink=""><i class="fa-solid fa-house mr-3"></i>Home</a>
      </li>
      <li class="admin-navbar">
        <a routerLink="newPost"
          ><i class="fa-solid fa-file-pen mr-3"></i>Posts</a
        >
      </li>
      <li class="admin-navbar">
        <a routerLink="admin-comments"
          ><i class="fa-solid fa-comment mr-3"></i>Comments</a
        >
      </li>
      <li class="admin-navbar">
        <a routerLink="themes"><i class="fa-solid fa-brush mr-3"></i>Themes</a>
      </li>
      <li class="admin-navbar">
        <a href="settings"><i class="fa-solid fa-gear mr-3"></i>Settings</a>
      </li>
    </ul>
  </nav>
  <div class="p-6 absolute bottom-0">
    <a class="text-xl text-red-500"
      ><i class="fa-solid fa-right-from-bracket"></i> LogOut</a
    >
  </div>
</section>
