<section

class="top-0 right-0 bottom-0 left-0 fixed bg-white/80 px-10 items-center h-screen"
>
<div
  class="h-[80%] w-[80%] overflow-y-auto container mx-auto bg-white item-center mt-20 border-2 border-black p-3 rounded-lg"
>
  <div class="flex justify-between border-b-2 border-black">
    <button
    (click)="applyTheme()"
      class="p-3 text-white bg-blue-600 flex mb-10 hover:shadow-xl border-2 border-black"
    >
      Activate
    </button>
    <button
     (click)="closeSample()"
      class="text-white bg-blue-600 flex mb-10 rounded-full py-3 px-4 hover:shadow-xl"
    >
      <span><i class="fa-solid fa-xmark"></i></span>
    </button>
  </div>

<div class="grid gap-10" *ngFor="let page of data.themeLayouts">
<h1 class="text-2xl text-center font-semibold mt-10">{{page.pageName}}</h1>
<img [src]="mediaFilePath+page.imagePath" alt="">
</div>
</div>
</section>