<!-- Comments -->

<section class="p-5">
  <div class="container pb-10 border-2 border-gray-500">
    <!-- nav -->
    <nav class="flex space-x-2 h-20 bg-gray-300" aria-label="Tabs">
      <a
        class="flex gap-1 items-center py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-se-md focus:z-10 hover:text-black"
        routerLink="comments"
        routerLinkActive="bg-white"
      >
        <i class="fa-regular fa-comment fa-2xl"></i>
        Comments
      </a>

      <a
        class="flex items-center gap-1 py-3 px-4 text-sm font-medium text-center text-slate-900 rounded-t-lg focus:z-10 hover:text-black"
        routerLink="spam-comments"
        routerLinkActive="bg-white"
      >
        <i class="fa-solid fa-prescription-bottle-medical fa-2xl"></i>
        Spam Comments
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</section>
